<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%block name="title">瑶臣万代</%block></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="keywords" content="瑶臣万代" />
<meta name="description" content="瑶臣万代" />
<meta name="description" content="瑶臣万代" />
<meta property="wb:webmaster" content="d1222a1637a71b37" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link href="${static_url}/css/reset.css" rel="stylesheet" type="text/css" />
<link href="${static_url}/css/bluev1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${static_url}/js/jquery.min.js"></script>
<script type="text/javascript" src="${static_url}/js/jquery.sgallery.js"></script>
<script type="text/javascript" src="${static_url}/js/search_common.js"></script>
</head>

<body>
<div class="header-top">
<div class="header-top-right">
<a href="#">设为首页</a>&nbsp;<span>|</span>&nbsp;<a href="#">网站导航</a>
</div>
<div class="header-top-left"><span>Tel: 010-57389079、64735736</span></div>
</div>

<div class="header">
<div class="logo">
<a href="#"><img src="${static_url}/images/ycwd.jpg" width="85" height="63"/></a>
</div>

<div class="nav-area">
<div class="content">
  <div class="nav-col">
    <ul class="nav-line">
      <li><a href="/" class="category"><span>猎头</span></a></li>
      <li><a href="/yylt"><span>医药</span></a></li>
      <li><a href="/yllt"><span>医疗</span></a></li>
      <li><a href="/"><span>生物</span></a></li>
    </ul>
    <ul class="nav-line">
      <li><a href="/" class="category"><span>新闻</span></a></li>
      <li><a href="/"><span>政策</span></a></li>
      <li><a href="/"><span>动态</span></a></li>
      <li><a href="/"><span>法规</span></a></li>
    </ul>
  </div>

  <div class="nav-sep"></div>

  <div class="nav-col">
    <ul class="nav-line">
      <li><a href="/" class="category"><span>人事</span></a></li>
      <li><a href="/"><span>社保</span></a></li>
      <li><a href="/"><span>战略</span></a></li>
      <li><a href="/"><span>纠纷</span></a></li>
    </ul>
    <ul class="nav-line">
      <li><a href="/" class="category"><span>培训</span></a></li>
      <li><a href="/"><span>内训</span></a></li>
      <li><a href="/"><span>营销</span></a></li>
      <li><a href="/"><span>技巧</span></a></li>
    </ul>
  </div>

  <div class="nav-sep"></div>

  <div class="nav-col">
    <ul class="nav-line">
      <li><a href="/" class="category"><span>医院</span></a></li>
      <li><a href="/"><span>交流</span></a></li>
      <li><a href="/"><span>临床</span></a></li>
      <li><a href="/"><span>护理</span></a></li>
    </ul>
    <ul class="nav-line">
      <li><a href="/" class="category"><span>管理</span></a></li>
      <li><a href="/"><span>公关</span></a></li>
      <li><a href="/"><span>文化</span></a></li>
      <li><a href="/"><span>团队</span></a></li>
    </ul>
  </div>
</div>
</div>

</div>
<!--main-->
<div class="main">
  <div class="ad-column">
    <embed src='${static_url}/images/qiyewenhua.swf' id='qixi' quality=high pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash' type='application/x-shockwave-flash' width='960' height='113' wmode='opaque'></embed>
</div>

<div class="bk3"></div>

<div class="nav">
  <ul>
    <li><a href="/" target="_blank">首页</a></li>
    <li><a href="/yylt" target="_blank">医药猎头</a></li>
    <li><a href="/yllt" target="_blank">医疗猎头</a></li>
    <li><a href="/nqrc/list_1.html" target="_blank">南区人才</a></li>
    <li><a href="/bqrc/list_1.html" target="_blank">北区人才</a></li>

    <li><a href="/" target="_blank">客户评价</a></li>
    <li><a href="/" target="_blank">团队优势</a></li>
    <li><a href="/fwqy" target="_blank">服务企业</a></li>
    <li><a href="/page/srvprice.html" target="_blank">服务价格</a></li>
    <li><a href="/page/srvprogram.html" target="_blank">服务流程</a></li>
  </ul>
</div>

<div class="bk3"></div>

${next.body()}

<div class="bk3"></div>
<div class="footer">
  <p class="info">
  <a href="/page/aboutus.html" target="_blank">关于我们</a> |
  <a href="/page/joinus.html" target="_blank">人才招聘</a> |
  <a href="/page/contact.html" target="_blank">联系方式</a> |
  <a href="/page/friendlinks.html" target="_blank">友情链接</a> |
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=271769336&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:271769336:50" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
  <br />
  瑶臣万代科技有限责任公司 版权所有 ©2008-2012</p>
</div>

<script type="text/javascript">
  $(function(){
      new slide("#main-slide","cur",301,240,1);//焦点图
      new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
  })
</script>
<script type="text/javascript">
  $(function(){
      $(".picbig").each(function(i){
        var cur = $(this).find('.img-wrap').eq(0);
        var w = cur.width();
        var h = cur.height();
        $(this).find('.img-wrap img').LoadImage(true, w, h,'${static_url}/images/msg_img/loading.gif');
      });
  })
</script>
</body>
</html>

