<link href="${static_url}/js/magicthumb/magicthumb.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${static_url}/js/magicthumb/magicthumb-packed.js"></script>

<script type="text/javascript">
    MagicThumb.options = {backgroundFadingOpacity : 0.8}
</script>

    <div class="blank20"></div>
    <div class=" client">
    <div class="clienttit"><h2><span>服务企业</span> (排名不分先后) </h2></div>
    <table width="100%"><tbody><tr>
          <td height="80" align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu1.1.png"><img alt="" src="${static_url}/images/service/kehu1.png" style="visibility: visible;">
              <span>&nbsp;&nbsp;先声药业成立于1995年3月28日，至今，已发展成为集生产、研发、销售为一体，拥有6家通过GMP认证的现代化药品生产企业，2家全国性的药品营销企业、1家药物研究院，拥有员工近3000人的新型药业集团。<p>&nbsp;&nbsp;2005年，联想控股公司下属的弘毅投资出资2.1亿元，持有先声药业31%的股份。</p><p>&nbsp;&nbsp;2007年4月20日，先声药业成功登陆纽约证券交易所，募集资金2.61亿美元，股票代码SCR，成为中国内地第1家在纽交所上市的化学生物药公司。</p> <br><br><b style="float: right;">瑶臣猎头整理__联系电话：010-64735736</b></span>
          </a></td>

          <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu2.2.png"><img alt="" src="${static_url}/images/service/kehu2.png" style="visibility: visible;">
              <span>&nbsp;&nbsp;华北制药股份有限公司是由原华北制药厂投入其全部生产经营性资产，并经募股于1992年组建的股份制企业。1994年，华药股票在上海证券交易所挂牌上市，目前公司国家股权比例为59.87%，由河北省政府授权华北制药集团有限责任公司持有。现有7家分公司、13家子公司。 制剂以及VC、VB12。
                <br><br><b style="float: right;">瑶臣猎头整理___联系电话：010-64735736</b></span>
          </a></td>

          <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu5.5.png"><img alt="" src="${static_url}/images/service/kehu5.png">
              <span>&nbsp;&nbsp;杭州民生药业集团有限公司是在杭州民生药业集团公司（杭州民生药厂）基础上进行整体改制后组建的有限责任公司，是国家大型骨干制药工业企业。她创建于1926年，是中国最早的四大西药厂之一,为全国医药50强之一。<p>&nbsp;&nbsp;公司以原料药为基础、制剂药为重点，开发高科技、高附加值的产品，常年生产多种医药原料和四大类药物制剂，即抗心血管类、抗肿瘤类、消化道类、多维元素类。其中，多种微量元素补给剂"21金维他"， 青霉素皮试剂及噻嘧啶等产品均为国内独家生产。公司拥有对外贸易进出口自主权，产品远销到世界38个国家和地区，年出口创汇1000余万美元</p><br><br><b style="float: right;">瑶臣猎头整理__联系电话：010-64735736</b></span>
          </a></td>

          <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu6.6.png"><img alt="" src="${static_url}/images/service/kehu6.png">
              <span>&nbsp;&nbsp;辉瑞制药成立于1849年;<p>&nbsp;&nbsp; 1980年进入中国，2004年在上海成立中区总部和辉瑞投资有限公司，2005年在上海成立辉瑞中国研发中心;</p><p>&nbsp;&nbsp; 2009年辉瑞并购惠氏，成为世界最大药企;</p><p>&nbsp;&nbsp; 2010年在武汉成立研发中心;</p><p>&nbsp;&nbsp; 2010年销售额为585.2亿美元</p><br><br><b style="float: right;">瑶臣猎头整理__联系电话：010-64735736</b></span>
          </a></td>

          <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu7.7.png"><img alt="" src="${static_url}/images/service/kehu7.png">
              <span>&nbsp;&nbsp;中国医药集团总公司成立于1998年11月26日，是由中央管理的以医药科研、生产和服务贸易为主业的我国最大的医药企业集团，旗下拥有十家全资或控股子公司及国药股份、深圳一致两家上市公司。2007年销售收入373亿元，进出口额7.7亿美元。<p>&nbsp;&nbsp;在2006年国家统计局公布的中国大企业排名中，中国医药集团位列第99位，在151家中央企业中，中国医药集团销售收入位列第55位，利润位列71位。</p>
                <br><br><b style="float: right;">瑶臣猎头整理___联系电话：010-64735736</b></span>
          </a></td>
    </tr>
        <tr>
          <td align="center" height="80"><a class="MagicThumb" href="${static_url}/images/service/kehu8.8.png"><img alt="" src="${static_url}/images/service/kehu8.png" style="visibility: visible;">
              <span>&nbsp;&nbsp;康缘药业与2002年在上海证券交易所上市。其康缘现代中药研究院，拥有一支包括6名博士后、12名博士、80余名硕士在内的180多名科研人员组成的研究队伍；<p>&nbsp;&nbsp;康缘药业拥有国内最大的智能化中药材提取生产线，具有年处理生药材10000吨的能力；拥有通过国家GMP验证的制剂车间，配套完善的备料中心、质量检测中心、动力中心、智能管理中心，设有硬胶囊、软胶囊、小容量注射剂、冻干粉针剂等十三条最先进的生产线，具备年生产硬胶囊12亿粒、软胶囊3.4亿粒、口服液1亿支、小容量注射剂3500万支、冻干粉针剂600万支、片剂15亿片、颗粒剂1000吨的能力。 </p><br><br><b style="float: right;">瑶臣猎头整理__联系电话：010-64735736</b></span>
          </a></td>

          <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu9.9.png"><img alt="" src="${static_url}/images/service/kehu9.png">
              <span>&nbsp;&nbsp;康芝药业是海南首家创业板上市的制药企业，也是海南省近年来发展最快、效益
                最好、规模最大的医药企业之一。<p>目前，公司拥有5条国际最先进的颗粒剂自动化生产线，年产20亿袋，是亚洲产能最大、自动化程度最高的颗粒剂生产线。</p>
                <br><br><b style="float: right;">瑶臣猎头整理__联系电话010-64735736</b></span>
          </a></td>

          <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu10.10.png"><img alt="" src="${static_url}/images/service/kehu10.png">
              <span>&nbsp;&nbsp;石药集团有限公司始建于1938年5月现有资产总额170亿元，员工2万余人，是全国医药行业首家以强强联合方式组建的特大型制药企业，也是河北省大型支柱型企业集团之一。
                <p>&nbsp;&nbsp;石药集团主要从事医药产品的开发、生产和销售。产品主要包括抗生素、维生素、心脑血管、解热镇痛、消化系统用药、呼吸系统用药和中成药等七大系列近千个品种。石药集团制剂产品的年生产能力为粉针剂30亿支、片剂200亿片、胶囊80亿粒、软胶囊10亿粒。目前石药集团有30个产品单品种销售过亿元，产品销售遍及全国和世界六十多个国家和地区。
                </p><br><br><b style="float: right;">瑶臣猎头整理__联系电话：010-64735736</b></span>
        </a></td>
            <td align="center" width="200" height="80"><a class="MagicThumb" href="${static_url}/images/service/kehu3.3.png"><img alt="" src="${static_url}/images/service/kehu3.png" style="visibility: visible;">
                <span>&nbsp;&nbsp;山东东阿阿胶股份有限公司前身为山东东阿阿胶厂，1952年建厂，1993年由国有企业改制为股份制企业。1996年成为上市公司，同年7月29日“东阿阿胶”A股股票在深交所挂牌上市，系国内最大的阿胶及系列产品生产企业。<br><br><b style="float: right;">瑶臣猎头整理___联系电话：010-64735736</b></span>
            </a></td>
            <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu12.12.png"><img alt="" src="${static_url}/images/service/kehu12.png" style="visibility: visible;">
                <span>&nbsp;&nbsp;史塞克公司成立于1964年，史塞克（中国）有限公司成立于1994。1997年在纽约证券交易所挂牌上市。Stryker是一个有广泛医疗基础、成果卓著的医疗技术领域的全球领导者。是拥有在356亿美元的全球最大的整形外科市场的成员之一，stryker的产品帮助医疗专业人员在120多个国家改善病人的生命。
                  <br><br><b style="float: right;">瑶臣猎头整理__联系电话：010-64735736</b></span>
            </a></td>
      </tr>
    <tr>
            <td align="center"><a class="MagicThumb" href="${static_url}/images/service/kehu4.4.png"><img alt="" src="${static_url}/images/service/kehu4.png" style="visibility: visible;">
                <span>&nbsp;&nbsp;红日药业于2009年10月30日在深圳证券交易所创业板挂牌上市。拥有专利 12 项（其中发明专利9项，实用新型专利2项，外观设计专利1项），已受理发明专利30项。公司经营范围为小容量注射剂、硬胶囊剂、颗粒剂、片剂、原料药生产；中药提取；生物工程药品、基因工程药品、植化药品的研究、开发、咨询、服务；普通货运。<br><br><b style="float: right;">瑶臣猎头整理__联系电话010-64735736</b></span>
            </a></td>
        </tr>
    </tbody>
    </table>
    </div>

