<%inherit file="base.html"/>
<%namespace file="lib/entity.html" import="*"/>

<%include file="nav.html"/>
<div class="bk3"></div>

<!--焦点图-->
<div class=" area content">
    <div id="gallery">
        <div id="fullsize">
            <div id="pic1">
                <img src="${static_url}/images/homegallery/1.png" alt="Winter branches" />
                <a class="previous" href="#pic10"><img src="${static_url}/images/homegallery/5.5.png" alt="Trees in the mist" /></a><a class="next" href="#pic2"><img src="${static_url}/images/homegallery/2.2.png" alt="Wading birds" /></a>
                <h3>总经理</h3>
                <p>管理类专业毕业，全日制本科以上学历；</p>
                <p>任职总经理工作岗位五年以上，有大规模企业任职经验的优先考虑；<a href="http://www.yaochenlietou.com/job/2012/3/6/1033.html">查看详细</a>.</p>
            </div>
            <div id="pic2">
                <img src="${static_url}/images/homegallery/2.png" alt="Wading birds" />
                <a class="previous" href="#pic1"><img src="${static_url}/images/homegallery/1.1.png" alt="Winter branches" /></a><a class="next" href="#pic3"><img src="${static_url}/images/homegallery/3.3.png" alt="Bird on a post" /></a>
                <h3>江苏地区招聘</h3>
                <p>江苏地区招聘各种中高端岗位<a href="http://http://www.yaochenlietou.com/yylt/list_1.html">查看详细</a>.</p>
            </div>
            <div id="pic3">
                <img src="${static_url}/images/homegallery/3.png" alt="Bird on a post" />
                <a class="previous" href="#pic2"><img src="${static_url}/images/homegallery/2.2.png" alt="Wading birds" /></a><a class="next" href="#pic4"><img src="${static_url}/images/homegallery/4.4.png" alt="Early bloomers" /></a>
                <h3>首席财务官（CFO）</h3>
                <p>首席财务官 <a href="http://www.yaochenlietou.com">查看详细</a>.</p>
            </div>
            <div id="pic4">
                <img src="${static_url}/images/homegallery/4.png" alt="Early bloomers" />
                <a class="previous" href="#pic3"><img src="${static_url}/images/homegallery/3.3.png" alt="Bird on a post" /></a><a class="next" href="#pic5"><img src="${static_url}/images/homegallery/5.5.png" alt="Green lizard" /></a>
                <h3>瑶臣猎头招聘</h3>
                <p>欢迎加入瑶臣猎头 <a href="http://www.yaochenlietou.com/page/joinus.html">查看详细</a>.</p>
            </div>
            <div id="pic5">
                <img src="${static_url}/images/homegallery/5.png" alt="Green lizard" />
                <a class="previous" href="#pic4"><img src="${static_url}/images/homegallery/1.1.png" alt="Early bloomers" /></a><a class="next" href="#pic6"><img src="${static_url}/images/homegallery/2.2.png" alt="Feeding the birds" /></a>
                <h3>投资总监</h3>
                <p>投资总监 <a href="http://www.sharejs.com">查看详细</a>.</p>
            </div>
        </div>
    </div>
    <div class="blank10"></div>
    <!--医药猎头-->
    <div class="ltclmn">
        <div class="tit3">
            <div class="imgbj">
                <a href="http://mclt.yaochenlietou.com">
                    <img src="${static_url}/images/lietoubiaoti.jpg" width="146" height="59"></a>
            </div>
            <div class="tit_font">
                <a href="www.yaochenlietou.com" target="_blank">华北</a> | 
                <a href="www.yaochenlietou.com" target="_blank">华南</a> | 
                <a href="www.yaochenlietou.com" target="_blank">华东</a> | 
                <a href="www.yaochenlietou.com" target="_blank">西南</a> 

            </div>
        </div>
        <div class=" blank20"></div>
        <div class="ltclmnxt">
            <div class="ltclmnc">
                <div class="job">
                    <div class="job_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">北区猎头职位</a>   
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">北京</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">天津</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">华北</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">东北</a>
                        </h1>
                    </div>
                    <div class="joblist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="regionnav">地    区</li>
                                <li class="title1nav">职    位</li>
                                <li class="salarynav">年    薪</li>
                                <li class="timenav">  截止日期</li>
                            </ul>
                            </dt>
                            ${latest_job(41, 6)} 
                        </dl>
                    </div>
                </div>
            </div>
            <div class="ltclmnr">
                <div class="talents">
                    <div class="talents_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">北区人才</a>   
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">北京</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">天津</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">华北</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">东北</a>
                        </h1>
                    </div>

                    <div class="talentslist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="tregionnav">行    业</li>
                                <li class="ttitle1nav">职    位</li>
                                <li class="tsalarynav">年    薪</li>
                                <li class="ttimenav">  有效期</li>
                            </ul>
                            </dt>
                            ${latest_elite(43, 6)}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank20"></div>
        <div class="ltclmnxt">
            <div class="ltclmnc">
                <div class="job">
                    <div class="job_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">南区猎头职位</a>   
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">南京</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">广州</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">江苏</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">上海</a>
                        </h1>
                    </div>
                    <div class="joblist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="regionnav">地    区</li>
                                <li class="title1nav">职    位</li>
                                <li class="salarynav">年    薪</li>
                                <li class="timenav">  截止日期</li>
                            </ul>
                            </dt>
                            ${latest_job(42, 6)} 
                        </dl>
                    </div>
                </div>
            </div>
            <div class="ltclmnr">
                <div class="talents">
                    <div class="talents_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">南区人才</a>   
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">上海</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">杭州</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">广州</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">深圳</a>
                        </h1>
                    </div>

                    <div class="talentslist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="tregionnav">行    业</li>
                                <li class="ttitle1nav">职    位</li>
                                <li class="tsalarynav">年    薪</li>
                                <li class="ttimenav">  有效期</li>
                            </ul>
                            </dt>
                            ${latest_elite(44, 6)}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank20"></div>
        <div class="banner1">
            <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/sy760_1.gif" width="760" height="108"></a>
        </div>
        <div class="blank20"></div>

        <div class="tit3">
            <div class="imgbj">
                <a href="http://mtlt.yaochenlietou.com">
                    <img src="${static_url}/images/lietoubiaoti1.jpg" width="146" height="59"></a>
            </div>
            <div class="tit_font">
                <a href="www.yaochenlietou.com" target="_blank">华南</a> | 
                <a href="www.yaochenlietou.com" target="_blank">华北</a> | 
                <a href="www.yaochenlietou.com" target="_blank">华中</a> | 
                <a href="www.yaochenlietou.com" target="_blank">西南</a> 
            </div>
        </div>
        <div class=" blank20"></div>
        <!--医疗猎头-->
        <div class="ltclmnxt">
            <!--1排-->
            <div class="ltclmnc">
                <div class="job">
                    <div class="job_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">北区猎头职位</a>
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">北京</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">天津</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">山东</a> 
                        </h1>
                    </div>
                    <div class="joblist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="regionnav">地    区</li>
                                <li class="title1nav">职    位</li>
                                <li class="salarynav">年    薪</li>
                                <li class="timenav">  截止日期</li>
                            </ul>
                            </dt>
                            ${latest_job(45, 6)} 
                        </dl>
                    </div>
                </div>
            </div>
            <div class="ltclmnr">
                <div class="talents">
                    <div class="talents_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">北区人才</a>   
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">北京</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">天津</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">华北</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">东北</a>
                        </h1>
                    </div>

                    <div class="talentslist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="tregionnav">行    业</li>
                                <li class="ttitle1nav">职    位</li>
                                <li class="tsalarynav">年    薪</li>
                                <li class="ttimenav">  有效期</li>
                            </ul>
                            </dt>
                            ${latest_elite(47, 6)}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank20"></div>
        <div class="ltclmnxt">
            <!--2排-->
            <div class="ltclmnc">
                <div class="job">
                    <div class="job_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">南区猎头职位</a>
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">广州</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">江苏</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">上海</a>
                        </h1>
                    </div>
                    <div class="joblist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="regionnav">地    区</li>
                                <li class="title1nav">职    位</li>
                                <li class="salarynav">年    薪</li>
                                <li class="timenav">  截止日期</li>
                            </ul>
                            </dt>
                            ${latest_job(46, 6)} 
                        </dl>
                    </div>
                </div>
            </div>
            <div class="ltclmnr">
                <div class="talents">
                    <div class="talents_title">
                        <h1>
                            <span>
                                <a href="www.yaochenlietou.com" target="_blank">南区人才</a>   
                            </span>
                            <a href="www.yaochenlietou.com" target="_blank">上海</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">江苏</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">江西</a> | 
                            <a href="www.yaochenlietou.com" target="_blank">杭州</a>
                        </h1>
                    </div>

                    <div class="talentslist">
                        <dl>
                            <dt>
                            <ul>
                                <li class="tregionnav">行    业</li>
                                <li class="ttitle1nav">职    位</li>
                                <li class="tsalarynav">年    薪</li>
                                <li class="ttimenav">  有效期</li>
                            </ul>
                            </dt>
                            ${latest_elite(48, 6)}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank20"></div>
        <div class="banner">
            <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/sy760_2.gif" width="760" height="108"></a>
        </div>
        <div class="blank20"></div>
        <!--人力资源-->
        <div class="tit3">
            <div class="imgbj">
                <a href="www.yaochenlietou.com">
                    <img src="${static_url}/images/hrbiaoti2.jpg" width="146" height="59"></a>
            </div>
            <div class="tit_font">
                <a href="www.yaochenlietou.com" target="_blank">招聘</a> | 
                <a href="www.yaochenlietou.com" target="_blank">培训</a> | 
                <a href="www.yaochenlietou.com" target="_blank">战略</a> | 
                <a href="www.yaochenlietou.com" target="_blank">纠纷</a> | 
                <a href="www.yaochenlietou.com" target="_blank">案例</a> 
            </div>
        </div>
        <div class="blank15"></div>
        <!--左-->
        <div class="ltclmnc">
            <div class="hrtitle">
                <h2>
                    <a href="www.yaochenlietou.com" target="_blank">薪酬福利</a>
                </h2>
            </div>
            <div class="blank10"></div>
            <div class="fPic">
                <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/hrgg.jpg"></a>
            </div>
            <ul class="list10">
                ${latest_entities3(49, 8)}
            </ul>
            <div class="blank10"></div>
        </div>
        <!--右-->
        <div class="ltclmnr">
            <div class="hrtitle">
                <h2>
                    <a href="www.yaochenlietou.com" target="_blank">社会保险</a>
                </h2>
            </div>
            <div class="blank10"></div>
            <div class="fPic">
                <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/hrgg.jpg"></a>
            </div>
            <ul class="list10">
                ${latest_entities3(50, 8)}
            </ul>
            <div class="blank10"></div>
        </div>
        <div class="blank15"></div>
        <!--瑶臣猎头-->
        <div class="tit3">
            <div class="imgbj">
                <a href="www.yaochenlietou.com">
                    <img src="${static_url}/images/yaochenbiaoti3.jpg" width="146" height="59"></a>
            </div>
            <div class="tit_font">
                <a href="www.yaochenlietou.com" target="_blank">联系我们</a> 

            </div>
        </div>
        <div class="blank15"></div>
        <div class="ltclmnc">
            <div class="hrtitle">
                <h2>
                    <a href="www.yaochenlietou.com" target="_blank">猎头简介</a>
                </h2>
            </div>
            <div class="ychd">
                <img src="${static_url}/images/32.jpg"></div>
            <div class="ychdlist">
                <ul>
                    <p>${news_content_summary(1021)} [<a href="www.yaochenlietou.com" target="_blank">详细</a>]</p>
                </ul>
            </div>
            <div class="blank25"></div>
            <div class="hrtitle">
                <h2>
                    <a href="www.yaochenlietou.com" target="_blank">团队优势</a>
                </h2>
            </div>
            <div class="ychd">
                <img src="${static_url}/images/123.jpg"></div>
            <div class="ychdlist">
                <p>${news_content_summary(1023)} [<a href="www.yaochenlietou.com" target="_blank">详细</a>]</p>
            </div>

        </div>
        <div class=" ltclmnr">
            <div class="hrtitle">
                <h2>
                    <a href="www.yaochenlietou.com" target="_blank">服务流程</a>
                </h2>
            </div>
            <div class="ychd"><img src="${static_url}/images/321.jpg"></div>
            <div class="ychdlist">
                <ul>
                    <li class="ychdlistf">1、客户提供职位说明书</li>
                    <li>2、分析职位说明书</li>
                    <li>3、签订猎聘合同</li>
                    <li>4、推荐候选人</li>
                    <li>5、客户录用候选人 [<a href="www.yaochenlietou.com" target="_parent">详细</a>]</li>
                    <div class="ychdlistxx"></div>
                </ul>
            </div>

            <div class="blank20"></div>
            <div class="hrtitle">
                <h2>
                    <a href="www.yaochenlietou.com" target="_blank">服务资费</a>
                </h2>
            </div>
            <div class="ychd">
                <img src="${static_url}/images/2311.jpg"></div>
            <div class="ychdlist">
                <ul>
                    <p>${news_content_summary(1024)}
                    [<a href="www.yaochenlietou.com" target="_blank">详细</a>]
                    </p>
                </ul>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="rightbj">
            <div class="banner">
                <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/326363.jpg" width="189" height="317"></a>
            </div>
        </div>

        <div class="rightbj">
            <div class="tit1">
                <h2>
                    <span><a href="www.yaochenlieotu.com" target="_blank">企业动态</a></span>
                    <a href="www.yaochenlietou.com" target="_blank">更多</a>
                </h2>
            </div>
            <ul class="list6">
                ${latest_entities(23, 4)}
            </ul>
        </div>
        <div class="rightbj">
            <div class=" righttxt">
                <div class="tit1">
                    <h2>
                        <span>
                            <a href="www.yaochenlietou.com" target="_blank">评论</a>
                        </span>

                        <a href="www.yaochenlietou.com" target="_blank">更多</a>

                    </h2>
                </div>
                <ul class="list6">
                    ${latest_entities(22, 6)}
                </ul>
                <div class="blank5"></div>
            </div>
        </div>

        <div class="rightbj">
            <div class="banner">
                <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/326363.jpg" width="189" height="317"></a>
            </div>
        </div>

        <div class="rightbj">
            <div class="tit7">
                <span>
                    一周排行
                </span>
            </div>
            <ul class="topr">
                ${latest_entities2(33, 10)}
            </ul>
        </div>
        <div class="rightbj">
            <div class="banner">
                <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/326363.jpg" width="189" height="317"></a>
            </div>
        </div>
    </div>

    <%include file="customer.html"/>
    </div>
