<!--导航-->
<div id="nav" class="area">
    <div class="navlist">
        <ul>
            <li><a href="http://www.yaochenlietou.com" target="_blank">首页</a></li>
            <li><a href="http://mclt.yaochenlietou.com" target="_blank">医药猎头</a></li>
            <li><a href="http://mtlt.yaochenlietou.com" target="_blank">医疗猎头</a></li>
            <li><a href="http://bqrc.yaochenlietou.com/list_1.html" target="_blank">北区人才</a></li>
            <li><a href="http://nqrc.yaochenlietou.com/list_1.html" target="_blank">南区人才</a></li>
            <li><a href="http://www.yaochenlietou.com/" target="_blank">服务资费</a></li>
            <li><a href="http://www.yaochenlietou.com/page/srvprogram.html" target="_blank">服务流程</a></li>
            <li><a href="http://www.yaochenlietou.com/" target="_blank">团队优势</a></li>
            <li><a href="http://www.yaochenlietou.com/page/srvprice.html" target="_blank">服务价格</a></li>
            <li><a href="http://www.yaochenlietou.com/fwqy" target="_blank">服务企业</a></li>
        </ul>
    </div> 
</div>

