<%inherit file="base.html"/>
<%namespace file="lib/entity.html" import="*"/>

<%block name="title">${base_entity.title}-精英人才-${parent.title()}</%block>
    <div class="col-left">
      <div class="crumbs">
          <a href="/">首页</a> <span>&gt;</span>
          % for cat in category_ancestors:
          <a href="/${cat[2]}">${cat[1]}</a> &gt;
          % endfor
          正文
      </div>

      <div id="Article">
          <h1>${base_entity.title}</h1>
          <div id=ArticleCnt>
              <table width="604" border="0" cellpadding="3" cellspacing="0">
                  <tr> 
                      <td width="66" align="left" class="tdtitle1">姓名:</td>
                      <td width="232" align="left" class="divcontent1">${elite.name}</td>
                      <td width="65" align="left" class="tdtitle1">性别:</td>
                      <td width="217" align="left" class="divcontent1">${elite.gender}</td>
                  </tr>
                  <tr>
                      <td align="left" class="tdtitle1">年龄:</td>
                      <td align="left" class="divcontent1">${elite.age}</td>  
                      <td align="left" class="tdtitle1">住所:</td> 
                      <td align="left" class="divcontent1">${elite.address}</td>
                  </tr> 
                  <tr> 
                      <td align="left" class="tdtitle1">学历:</td>
                      <td align="left" class="divcontent1">${elite.xueli}</td>
                      <td align="left" class="tdtitle1">婚姻状况:</td> 
                      <td align="left" class="divcontent1">${elite.matrimony}</td>
                  </tr>
              </table>
              <br/>

              <div>
                <h2 class="h2head1">工作经历</h2>
                <table cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    % for work in elite.works:
                    <tr>
                      <td width="1%" valign="top" nowrap="nowrap">${work.work_opentime} -- ${work.work_endtime}：</td>
                      <td style="width:462px;word-wrap:break-word" class="line150">
                        ${work.work_coname} | ${work.work_title}
                        <br>${work.work_zhize or ''}
                        <br>${work.work_yeji or ''}
                      </td>
                    </tr>
                    % endfor
                  </tbody>
                </table>
              </div>
              <br/>
              <div>
                <h2 class="h2head1">项目经验</h2>
                <table cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    % for xiangmu in elite.xiangmus:
                    <tr>
                      <td style="width:462px;word-wrap:break-word" class="line150">
                        ${xiangmu.work_Project or ''}
                      </td>
                    </tr>
                    % endfor
                  </tbody>
                </table>
              </div>
              <br/>
              <div>
                <h2 class="h2head1">教育经历</h2>
                <table cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    % for jiaoyu in elite.jiaoyus:
                    <tr>
                      <td width="1%" valign="top" nowrap="nowrap">${jiaoyu.jiaoyu_time} -- ${jiaoyu.jiaoyu_ending}：</td>
                      <td style="width:462px;word-wrap:break-word" class="line150">
                        ${jiaoyu.jiaoyu_school} | ${jiaoyu.jiaoyu_specialty} | ${jiaoyu.jiaoyu_degree}
                        <br>${jiaoyu.jiaoyu_beizhu or ''}
                      </td>
                    </tr>
                    % endfor
                  </tbody>
                </table>
              </div>

          </div>

        <div class="text-c" id="pages">
        </div>

        <p style="margin-bottom:10px"><strong>相关热词搜索：</strong>
        % if entity__:
        % for kw in entity.keywords.split():
        <a class="blue" href="tag=${_uq(kw)}">${kw}</a>
        % endfor
        % endif
        </p>
        <p class="f14"><strong>上一篇：</strong><a href="javascript:alert('第一页');">第一页</a><br>
         <strong>下一篇：</strong><a href="javascript:alert('最后一页');">最后一页</a></p>
      </div>
    </div>

    <div class="col-auto">
      <div class="bk10"></div>
      <div class="box">
        <h5 class="title-2">新闻排行</h5>
        <ul class="content rank">
        ${latest_entities(33, 8)}
        </ul>
      </div>
    </div>

