<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      ${base_entity.title}-精英人才-瑶臣万代
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="${static_url}/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="${static_url}/css/bluev1.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      .STYLE4 {color: #FFFFCC}
      .STYLE5 {color: #0066CC}
      body{overflow:visible;}
      .STYLE1 {
        color: #3366CC;
        font-weight: bold;
      }
      .STYLE3 {color: #666666}

      .ResTitleFot { font-family:'宋体'; font-size:14px; }
      .ResTitleTbBd { border:solid 1px #cccccc; }
      .ResTitleTbBd1 { border:solid 1px #ffffff; }
      .ResTbLfPd { padding-left:10px; }
      .SubTitleTbBd { padding-left:10px; border-top:solid 1px #cccccc; }
      .bg{background-image:url(http://image.51job.com/imehire/ehire2007/default/image/im2009/1.gif); background-repeat:repeat-x;}

      .pane {font-family:"宋体";font-size: 11px;white-space:nowrap}
      a:link {color:#296ebb;text-decoration: none;}
      a:visited {color:black; text-decoration: none; }  
      .bgOver{background-color: Transparent}
      .bgOut {background-color: Transparent}
      .bgSelect {background-color: #f1d6b9;color:black}
      .bgSelected {background-color: Transparent;color:black}
      .MenuContentCss
      {
        position: absolute; right: 35px; top: 90px; display: block;border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color: #137ec4;border-left-color: #137ec4;background-color:#ffffff
      }
    </style>

    <script type="text/javascript">
      <!--
      var theForm = document.forms['form1'];
      if (!theForm) {
        theForm = document.form1;
      }
      function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
          theForm.__EVENTTARGET.value = eventTarget;
          theForm.__EVENTARGUMENT.value = eventArgument;
          theForm.submit();
        }
      }
      // -->
    </script>


    <script src="/WebResource.axd?d=_xqoAC_y7luLaqnRFtp75Q2&amp;t=634148711440427172" type="text/javascript"></script>


    <script src="/ScriptResource.axd?d=BjTbBXg2XH_V1XmJZ7yHuwb9Hk1Lnps8seS5_9GNMu_e1su7UW2m19J4JxMb-yfcVVXsxXpgzpUyaH4AjEVkGmr-G_dwY9s8xtOiWO912ss1&amp;t=633191596796729358" type="text/javascript"></script>
    <script src="/ScriptResource.axd?d=BjTbBXg2XH_V1XmJZ7yHuwb9Hk1Lnps8seS5_9GNMu_e1su7UW2m19J4JxMb-yfcVVXsxXpgzpUyaH4AjEVkGjAsbhMjCyQVL7Mhd7f5IKs1&amp;t=633191596796729358" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
    Sys.WebForms.PageRequestManager._initialize('Resume_ScriptManager', document.getElementById('form1'));
    Sys.WebForms.PageRequestManager.getInstance()._updateControls(['tResume_updpResumeBody','tctlTrans1$upnlTrans','fctlExport1$upnlExport'], [], [], 300);
    //]]>
    </script>
  </head>
  <body>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;border:0;">
      <tr>
        <td width="277" rowspan="3"><img src="${static_url}/images/ycwd.jpg" width="82" alt="" height="63" />		 
          <td width="246" rowspan="3" align="folte" valign="bottom">&nbsp;</td>
          <td width="127" height="21">&nbsp;</td>
          <div>
            <td width="246" rowspan="3" align="right" valign="bottom">
              <p class="STYLE3">加入收藏</a>| <a href="/${category_ancestors[len(category_ancestors)-1][2]}"/>返回频道</a>

            <p class="STYLE3"><span class="STYLE5"><a href="http://www.yaochenlietou.com.cn"/>查看授权书</span></p>
              <p>编号：${base_entity.id}</p></td>
          </tr>
          <tr>
            <td height="21">&nbsp;</td>
          </tr>
          <tr>
            <td height="31" align="center">&nbsp;</td>
          </tr>
        </table>
        <table >
          <tr style="height:2px;">
            <td></td></tr></table>
        <table border="0" cellpadding="0" align="center" cellspacing="0" width="650" style="display:none">
          <tr>
            <td style="width: 40%;" align="left">
              <img src="http://images.51job.com/im/logo.gif" alt="" />
            </td>
            <td style="width: 60%;" align="right">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr valign="top">
                  <td style="width: 100%; height: 100%;" align="right" valign="top">
                    <input type="submit" name="AD_btnRefresh" value="" id="AD_btnRefresh" style="display:none;" /><input type="submit" name="btnRefreshHidden" value="" id="btnRefreshHidden" />


                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table border="0" cellpadding="0" align="center" cellspacing="0" width="650">
          <tr>
            <td colspan="2" valign="top" style="BORDER-RIGHT: #C3D4E7 1px solid;BORDER-LEFT: #C3D4E7 1px solid;BORDER-TOP: #C3D4E7 1px solid;BORDER-BOTTOM: #C3D4E7 1px solid;"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td valign="top"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="45%" colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:8px auto;line-height:22px;padding:0 0 0 8px;"><tr>
                              <td width="59">姓　名：</td>
                              <td width="230">${elite.name}</td>
                              </tr><tr>
                              <td>年　龄：</td><td>${elite.age}</td></tr><tr>
                              <td>所在地：</td><td>${elite.address}</td></tr></table></td><td width="43" align="center" style="background:url(http://img01.51jobcdn.com/imehire/ehire2007/default/image/im2009/resume_match_space-line.gif) repeat-y;"></td><td width="49%" colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:8px auto;line-height:22px;padding:0 0 0 10px;"><tr>
                              <td width="59">性　别：</td>
                              <td width="230">${elite.gender}</td>
                              </tr><tr>
                              <td>专　业：</td><td>临床医学与医学技术</td></tr><tr>
                              <td height="22">学　历：</td><td>${elite.xueli}</td></tr></table></td></tr></table><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
                          </td></tr><tr><td valign="top"><div id="ifrPrintInfo" style="display:none;"></div><iframe id="ifrInfo" style="width:650px;border:0px;display:none;overflow:hidden;" frameborder="0"></iframe></td></tr><tr><td style="padding-top:10px;" id="divInfo">
                              % if elite.guwenpingjia:
                              <table width="97%" border="0" align="center" cellspacing="0" cellpadding="0"><tr>
                                  <td align="left" valign="middle" class="cvtitle STYLE1 STYLE4">顾问评价</td>
                                </tr>
                                <tr><td align="middle" valign="middle" height="4"><img src="${static_url}/images/shili3.png" width="100%" height="4"></td></tr><tr><td height="10" align="left" valign="middle"></td></tr><tr><td align="left" valign="middle" class="text_left"><span class="text">${elite.guwenpingjia}</span></td></tr><tr><td height="10" align="left" valign="middle"></td></tr>
                              </table>
                              % endif
                          <table width="97%" border="0" align="center" cellspacing="0" cellpadding="0"><tr><td align="left" valign="middle" class="cvtitle STYLE1">工作经验</td>
                            </tr>
                            <tr><td align="middle" valign="middle" height="4"><img src="${static_url}/images/shili3.png" width="100%" height="4"></td></tr><tr><td height="10" align="left" valign="middle"></td></tr><tr><td align="left" valign="middle">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                                % for i, work in enumerate(elite.works):
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                                      <tr>
                                        <td colspan="2" class="text_left">${work.work_opentime} -- ${work.work_endtime}：${work.work_coname}&nbsp;&nbsp;&nbsp; <b>${work.work_title}</b></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" class="text_left">
                                          <p>${work.work_zhize or ''}</p>
                                          <p>${work.work_yeji or ''}</p>
                                        </td>
                                      </tr>
                                      % if i != len(elite.works)-1:
                                      <tr>
                                        <td colspan="2" align="center" valign="middle" height="20"><hr size="1" noshade /></td>
                                      </tr>
                                      % endif
                                    </table>
                                  </td>
                                </tr>
                                % endfor
                            </table>
                          </td></tr>
                          <tr><td height="20" align="left" valign="middle"></td></tr>
                          % if elite.xiangmus and len(elite.xiangmus) > 0:
                          <tr><td align="left" valign="middle" class="cvtitle STYLE1">项目经验</td></tr>
                          <tr>
                            <td align="middle" valign="middle" height="4"><img src="${static_url}/images/shili3.png" width="100%" height="4"></td>
                          </tr>
                          <tr><td height="10" align="left" valign="middle"></td></tr><tr><td align="left" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                              % for i, xiangmu in enumerate(elite.xiangmus):
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                                    <tr>
                                      <td colspan="2" class="text_left">
                                        <p>${xiangmu.work_Project or ''}</p>
                                      </td>
                                    </tr>
                                    % if i != len(elite.xiangmus)-1:
                                    <tr>
                                      <td colspan="2" align="center" valign="middle" height="20"><hr size="1" noshade /></td>
                                    </tr>
                                    % endif
                                  </table>
                                </td>
                              </tr>
                              % endfor
                            </table>
                          </td></tr>
                          % endif
                      <tr><td height="20" align="left" valign="middle"></td>
                      </tr>
                        <tr><td align="left" valign="middle" class="cvtitle STYLE1">教育经历</td>
                        </tr>
                        <tr><td align="middle" valign="middle" height="4"><img src="${static_url}/images/shili3.png" width="100%" height="4"></td></tr><tr><td height="10" align="left" valign="middle"></td></tr><tr><td align="left" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                              % for i, jiaoyu in enumerate(elite.jiaoyus):
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                                    <tr>
                                      <td width="26%" class="text_left">${jiaoyu.jiaoyu_time} - ${jiaoyu.jiaoyu_ending}</td>
                                      <td width="30%" class="text">${jiaoyu.jiaoyu_school}</td>
                                      <td width="30%" class="text">${jiaoyu.jiaoyu_specialty}</td>
                                      <td width="14%" class="text">${jiaoyu.jiaoyu_degree}</td>
                                    </tr>
                                    <tr>
                                      <td colspan="4" class="text_left">${jiaoyu.jiaoyu_beizhu or ''}</td>
                                    </tr>
                                    % if i != len(elite.jiaoyus)-1:
                                    <tr>
                                      <td colspan="4" align="center" valign="middle" height="20"><hr size="1" noshade /></td>
                                    </tr>
                                    % endif
                                  </table>
                                </td>
                              </tr>
                              % endfor
                          </table>
                        </td></tr>
                        <tr><td height="20" align="left" valign="middle"></td></tr>
                        % if elite.peixun:
                        <tr><td align="left" valign="middle" class="cvtitle STYLE1">培训经历</td>
                        </tr>
                        <tr><td align="middle" valign="middle" height="4"><img src="${static_url}/images/shili3.png" width="100%" height="4"></td></tr><tr><td height="10" align="left" valign="middle"></td></tr><tr><td align="left" valign="middle"></td></tr><tr><td align="left" valign="middle">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                            <tr>
                              <td width="96%" class="text_left">${elite.peixun}</td>
                            </tr>
                        </table></td></tr>
                        % endif
                        <tr><td height="20" align="left" valign="middle"></td></tr>
                        % if elite.certificate:
                          <tr><td align="left" valign="middle" class="cvtitle STYLE1">证&nbsp;&nbsp;书</td>
                        </tr>
                        <tr><td align="middle" valign="middle" height="4"><img src="${static_url}/images/shili3.png" width="100%" height="4"></td></tr><tr><td height="10" align="left" valign="middle"></td></tr><tr><td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_set">
                              <tr>
                                <td width="96%" class="text_left">${elite.certificate}</td>
                              </tr>
                              <tr>
                                <td class="text_left">&nbsp;</td>
                              </tr>
                        </table></td></tr>
                        % endif
          <tr></tr></table></td></tr></table></td></tr></table>

        </td>
      </tr>
      <tr style="height: 10px">
        <td colspan="2" style="height: 10px">
        </td>
      </tr>
    </table>

    <div class="footer_elite">
      <p class="info">
      <a href="/page/aboutus.html" target="_blank">关于我们</a> |
      <a href="/page/joinus.html" target="_blank">人才招聘</a> |
      <a href="/page/contact.html" target="_blank">联系方式</a> |
      <a href="/page/friendlinks.html" target="_blank">友情链接</a> |
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=271769336&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:271769336:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
        <br />
        瑶臣万代科技有限责任公司 版权所有 ©2008-2012</p>
      </div>      

      <script type="text/javascript">
        <!--
        getReplace();Sys.Application.set_scriptLoadTimeout(120);
        Sys.Application.initialize();
        // -->
        </script>
      </form>
      <script language="javascript" type="text/javascript">
        //added by linsendu 20101110
      InitScriptManager();
      document.getElementById(ifFromLoad).style.display = 'none';
      document.getElementById(divFromLoad).style.display = 'none'; 

      getReplace();
    </script>

    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jiathis_r.js?move=0&btn=r3.gif" charset="utf-8"></script>
    <!-- JiaThis Button END -->
  </body>
</html>
