<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta name="Description" content="医院管理频道_瑶臣万代">
<meta name="description" content="提供最新的人力资源资讯、最全的人力资源知识">
<meta name="Keywords" content="医院营销，医院管理管理">
<meta name="Reply-to" content="all">
<title>医院管理频道_瑶臣万代</title>
<link rel="icon" href="favicon.ico"mce_href="favicon.ico"type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico"mce_href="favicon.ico"type="image/x-icon">

<link type="text/css" rel="stylesheet" href="${static_url}/css/iyclt.com/style_yygl.css"/>
<link type="text/css" rel="stylesheet" href="${static_url}/css/iyclt.com/pub.css"/>
<link type="text/css" rel="stylesheet" href="${static_url}/css/iyclt.com/yy.css"/>
<script type="text/javascript" src="${static_url}/js/iyclt.com/onejs/swfobject.js"></script>
<script type="text/javascript" src="${static_url}/js/fhtj.js"></script>
</head>

<script>
function drop_mouseover(pos){
 try{window.clearTimeout(timer);}catch(e){}
}
function drop_mouseout(pos){
 var posSel=document.getElementById(pos+"Sel").style.display;
 if(posSel=="block"){
  timer = setTimeout("drop_hide('"+pos+"')", 1000);
 }
}
function drop_hide(pos){
 document.getElementById(pos+"Sel").style.display="none";
}
function search_show(pos,searchType,href){
    document.getElementById(pos+"SearchType").value=searchType;
    document.getElementById(pos+"Sel").style.display="none";
    document.getElementById(pos+"Slected").innerHTML=href.innerHTML;
    document.getElementById(pos+'q').focus();
    var sE = document.getElementById("searchytitle");
    if(sE != undefined  &&  searchType == "ytitle"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
	  var sE = document.getElementById("searchltitle");
    if(sE != undefined  &&  searchType == "ltitle"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
		  var sE = document.getElementById("searchbelite");
    if(sE != undefined  &&  searchType == "belite"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
			  var sE = document.getElementById("searchnelite");
    if(sE != undefined  &&  searchType == "nelite"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
 try{window.clearTimeout(timer);}catch(e){}
 return false;
}
</script>
<body>

<div id="header" class="area">
    <div id="header-left">
      <span>&nbsp;Tel:010-57389079、64735736</span>
    </div>
  <div id="header-right">
   <a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a> 丨
  <a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a> 丨 <a href="#">网站导航</a>
</div>
<script type="text/javascript" language="javascript">
    //加入收藏
        function AddFavorite(sURL, sTitle) {
            sURL = encodeURI(sURL); 
        try{ window.external.addFavorite(sURL, sTitle); }
			catch(e) { try{ window.sidebar.addPanel(sTitle, sURL, ""); }
				catch (e) {alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");}}}
    function SetHome(url){
        if (document.all) {
            document.body.style.behavior='url(#default#homepage)';
               document.body.setHomePage('http://www.yaochenlietou.com/');}
	else{alert("抱歉，您所使用的浏览器不支持此操作，\n\n您需要手动添加“http://www.yaochenlietou.com”为首页");}}
</script>
</div>
<div class="blank10"></div>
<div id="minnav" class="area">
 <ul>
  <li>
  <a href="www.yaochenlietou.com" target="_blank"> 新闻</a> 丨 </li>

  <li>
  <a href="www.yaochenlietou.com" target="_blank"> 猎头</a> 丨 </li>

        <li>
  <a href="www.yaochenlietou.com" target="_blank"> 人力</a> 丨 </li>
  
    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 管理</a> 丨 </li>
  
    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 培训</a> 丨 </li>
  
    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 营销</a> 丨 </li>
  
    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 社保</a> 丨 </li>


    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 医患</a> 丨 </li>
  
    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 文化</a> 丨 </li>
      <li>
  <a href="www.yaochenlietou.com" target="_blank"> 中医药</a> 丨 </li>
  
     <li>
  <a href="www.yaochenlietou.com" target="_blank"> 医药猎头</a> 丨 </li>

  <li>
  <a href="www.yaochenlietou.com" target="_blank"> 医疗猎头</a> 丨 </li>
  
    <li>
  <a href="www.yaochenlietou.com" target="_blank"> 医药人才</a> 丨 </li>
  
      <li>
  <a href="www.yaochenlietou.com" target="_blank"> 医疗人才</a> </li>

 </ul>
 </div>

 <div class="banner1">
  <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/970x90.jpg"></a></div>
  <div class="blank10"></div>
<div id="logososuo" class="area">
<!--搜索-->
<div class="lefto">
 <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/ycwdlogo.jpg"></a>
 </div>
<div class="searchTool">
     <form method="get" action="http://www.yaochenlietou.com" name="headSearchForm" id="headSearchForm" onSubmit="return dosearch(this);">
       <input name="searchdomain" type="hidden" value="http://www.yaochenlietou.com">
     <input id="headSearchType" name="searchType" type="hidden" value="xinwen"> <input class="txtSearch" id="headq" name="q" type="text" value="请输入你要搜索的关键词"  onfocus="if (value =='请输入你要搜索的关键词'){value =''}" onBlur="if (value ==''){value='请输入你要搜索的关键词'}">
      <div class="selSearch">
    <div class="nowSearch" id="headSlected" onClick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onMouseOut="drop_mouseout('head');">新闻搜索</div>
    <div class="btnSel"><a href="#" onClick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onMouseOut="drop_mouseout('head');"></a></div>
    <div class="clear"></div>
   	<ul class="selOption" id="headSel" style="display:none;">
					<li><a href="#" onClick="return search_show('head','xinwen',this)" onMouseOver="drop_mouseover('head');" onMouseOut="drop_mouseout('head');">新闻搜索</a></li>
					<li><a href="#" onClick="return search_show('head','ytitle',this)" onMouseOver="drop_mouseover('head');" onMouseOut="drop_mouseout('head');">医药职位</a></li>
					<li><a href="#" onClick="return search_show('head','ltitle',this)" onMouseOver="drop_mouseover('head');" onMouseOut="drop_mouseout('head');">医疗职位</a></li>
					<li><a href="#" onClick="return search_show('head','belite',this)" onMouseOver="drop_mouseover('head');" onMouseOut="drop_mouseout('head');">北区人才</a></li>
					<li><a href="#" onClick="return search_show('head','nelite',this)" onMouseOver="drop_mouseover('head');" onMouseOut="drop_mouseout('head');">南区人才</a></li>
			 </ul>
    </div>
     <div class="btnSearch">
     
    <a href="#" onClick="javascript:return dosearch(document.getElementById('headSearchForm'));"><span class="lbl">搜索</span></a>
     </div>
     
          <div class="searchytitle" id="searchytitle" name="searchytitle" style="display:none">
           <input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按地区搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按职位搜<input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按年薪搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按时间搜<input type="hidden" name="sbts" value="ytitle">
     </div>
     
       <div class="searchltitle" id="searchltitle" name="searchltitle" style="display:none">
           <input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按地区搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按职位搜<input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按年薪搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按时间搜<input type="hidden" name="sbts" value="ltitle">
     </div>
     
            <div class="searchbelite" id="searchbelite" name="searchbelite" style="display:none">
          <input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按地区搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按职位搜<input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按年薪搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按时间搜<input type="hidden" name="sbts" value="belite">
     </div>
     <div class="searchnelite" id="searchnelite" name="searchnelite" style="display:none">

          <input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按地区搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按职位搜<input type="radio" class="radio" name="sbt" value="post" onClick="csbt(this,this.form.sbts);">按年薪搜<input type="radio" name="sbt" value="user" onClick="csbt(this,this.form.sbts);" class="radio">按时间搜<input type="hidden" name="sbts" value="nelite">
     </div>
     
          <div class="clear"></div>
     </form>
     </div>
       </div>
       <div id="yy_nav" class="area">
<div class="yy_navlist">
 <ul>
  <li>
   <a href="www.yaochenlietou.com" target="_blank">首页</a>
 </li>
 <li>
   <a href="www.yaochenlietou.com" target="_blank">医院文化</a>
 </li>
  <li>
   <a href="www.yaochenlietou.com" target="_blank">医患关系</a>
 </li>
  <li>
   <a href="www.yaochenlietou.com" target="_blank">医院营销</a>
 </li>
   <li>
   <a href="www.yaochenlietou.com" target="_blank">医疗环境</a>
 </li>
  <li>
   <a href="www.yaochenlietou.com" target="_blank">人力资源</a>
 </li>
   <li>
   <a href="www.yaochenlietou.com" target="_blank">医疗服务</a>
 </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">医院培训</a>
 </li>

  <li>
   <a href="www.yaochenlietou.com" target="_blank">护理管理</a>
 </li>
   <li>
   <a href="www.yaochenlietou.com" target="_blank">科室建设</a>
 </li>
 </ul>
   </div> 
   </div>
   <div class="blank10"></div>
   <div class="area content">
   <!--左1-->
    <div class="yy_clmnr">
      <div class="yy_rightbj">
       <div class="yy_tit1">
       <h2>
     <span>
        <a href="www.yaochenlietou.com" target="_blank">评论</a>
       </span>     
        <a href="www.yaochenlietou.com" target="_blank">更多</a>
        </h2>
        </div>
        <div class="blank5"></div>
        <div class="yy_righttxt">
         <h4>
          <a href="www.yaochenlietou.com" target="_blank">医药猎头是什么东西</a>
          </h4>
         <ul class="yy_list5">
          <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/1111.jpg" width="100" height="100"></a>
          <p>
           你垃圾堆放辣椒啊了身段减肥了氨基酸劳动纠纷拉丝机的发链接啊算间<a href="www.yaochenlietou.com">[详细]</a></p></ul>
           </div>
           <ul class="yy_list5">
    <li>
     <a href="www.yaochenlietou.com" target="_blank">要让抽烟者形成一种自卑心态</a>
     </li>
     <li>
     <a href="www.yaochenlietou.com" target="_blank">要让抽烟者形成一种自卑心态</a>
     </li>
     <li>
     <a href="www.yaochenlietou.com" target="_blank">要让抽烟者形成一种自卑心态</a>
     </li>
     <li>
     <a href="www.yaochenlietou.com" target="_blank">要让抽烟者形成一种自卑心态</a>
     </li>
</ul>
</div>
<div class="blank10"></div>
<div class="yy_rightbj">
<div class="banner">
<a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/326363.jpg" width="200" height="200"></a>
</div>
</div>
<div class="blank10"></div>
<div class="yy_rightbj">
     <div class="tit7">
             <span>
              一周排行
              </span>
              </div>
              <ul class="topr">
               <li class="toprf" >
                <span class="front">1</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                <li>
                <span class="front">2</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                <li>
                <span class="front">3</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                 <li>
                <span class="frontf">4</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                 <li>
                <span class="frontf">5</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                  <li>
                <span class="frontf">6</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                  <li>
                <span class="frontf">7</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                 <li>
                <span class="frontf">8</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                 <li>
                <span class="frontf">9</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
                 <li>
                <span class="frontf">10</span>
               <a href="www.yaochenlietou.com" target="_blank">外交部：中亚涉及中国核心利益绝不允许动乱</a>
                </li>
               </ul>
    </div>
    
    <div class="blank10"></div>
    <div class="yy_rightbj">           
                <div class="banner"><a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/326363.jpg" width="200" height="317"></a></div>
    </div>
    <div class=" blank10"></div>
   <div class="yy_rightbj">
    <div class="yy_tit1">
     <h2>
    <span>
    <a href="www.yaochenlietou.com" target="_blank">法律*法规</a>
    </span>
    <a href="www.yaochenlietou.com" target="_blank">更多</a>
    </h2>
    </div>
    <ul class="yy_list12">
    <li class="yy_listf12">
    <a href="www.yaochenlietou.com" target="_blank">关于印发《城镇职工基本养老保险费补缴实施细则》的通知</a>
    <p>京社保发[2010]47号</p>
    </li>
    <li>
    <a href="www.yaochenlietou.com" target="_blank">关于做好在我国境内就业的外国人参加社会保险工作有关问题的通知</a>
    <p>人社厅发[2011]113号</p>
    </li>
    <li>
    <a href="www.yaochenlietou.com" target="_blank">关于做好在我国境内就业的外国人参加社会保险工作有关问题的通知</a>
    <p>人社厅发[2011]113号</p>
    </li>
    <li>
    <a href="www.yaochenlietou.com" target="_blank">关于做好在我国境内就业的外国人参加社会保险工作有关问题的通知</a>
    <p>人社厅发[2011]113号</p>
    </li>
    <li>
    <a href="www.yaochenlietou.com" target="_blank">关于做好在我国境内就业的外国人参加社会保险工作有关问题的通知</a>
    <p>人社厅发[2011]113号</p>
    </li>
    <li>
    <a href="www.yaochenlietou.com" target="_blank">关于做好在我国境内就业的外国人参加社会保险工作有关问题的通知</a>
    <p>人社厅发[2011]113号</p>
    </li>
    </ul>
    </div>
    <div class="blank10"></div>
    <div class="yy_rightbj">
    <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/326363.jpg" width="200" height="100"></a>
    </div>
    <div class="blank10"></div>
   </div>
    <!--文本1-->
    <div class="yy_clmn">
     <!--中一-->
       <div class="yy_clmnc">
   <div class="yy_news">
   <h2>
   <a href="www.yaochenlietou.com" target="_blank">2012年HR人力资源规划及招聘配置40大热点问题</a>
   </h2>
   <p>
   <a href="www.yaochenlietou.com" target="_blank">[绩效考评沟通24问题]</a>
   <a href="www.yaochenlietou.com" target="_blank">[绩效考评沟通24问题]</a>
   </p>
   </div>
   <div class="yy_line"></div>
   <ul class="yy_list8">
   <li>
    <a href="www.yaochenlietou" target="_blank">HR必知新劳动法对工作加班17大常识</a>
    <a href="www.yaochenlietou" target="_blank">创业者的5种方法</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">HR谨记绝不能为十种坑爹老板"卖命"</a>
    <a href="www.yaochenlietou" target="_blank">创业公司CEO的一天</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">合同期限未满辞职要承担违约金吗？</a>
    <a href="www.yaochenlietou" target="_blank">需要一流员工</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">超九成网友对“延退”说NO 担心养老问题</a>
    <a href="www.yaochenlietou" target="_blank">薪酬设计</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">上班一天就被解约 公司原因要给补偿</a>
    <a href="www.yaochenlietou" target="_blank">支付双倍工资</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">停工留薪期未签合同是否支付双倍工资？</a>
    <a href="www.yaochenlietou" target="_blank">白领亚健康</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">HR必知新劳动法对工作加班17大常识</a>
    <a href="www.yaochenlietou" target="_blank">白领亚健康</a>
    </li>
    <li>
    <a href="www.yaochenlietou" target="_blank">HR必知新劳动法对工作加班17大常识</a>
    <a href="www.yaochenlietou" target="_blank">白领亚健康</a>
    </li>
   </ul>
   </div>
    <!--右一-->
    <div class="yy_clmnf">
    <div id="columna">
<div class="absolute overflow" id="push" style="LEFT: 203px; WIDTH: 330px; margin:0px auto;">
<div id="mainPush"></div>
<div id="linkPush" style="BACKGROUND: url(${static_url}/images/iyclt.com/pushBg.gif); HEIGHT: 43px"></div></div>
<script type="text/javascript">
function _$(x){
    return document.getElementById(x);
}
rnd.today=new Date(); 
rnd.seed=rnd.today.getTime(); 
function rnd(){ 
	rnd.seed = (rnd.seed*9301+49297) % 233280; 
	return rnd.seed/(233280.0); 
}
function rand(number){ 
	return Math.ceil(rnd()*number)-1; 
}
//标题 .title
var pushName=["瑶臣猎头招聘","良心药良心在哪","医患关系用要[心]","美封杀罗氏","辉瑞世界第一制药"];
//图片 .image
var pushSrc=["${static_url}/images/iyclt.com/01.jpg","${static_url}/images/iyclt.com/02.jpg","${static_url}/images/iyclt.com/03.jpg","${static_url}/images/iyclt.com/04.jpg","${static_url}/images/iyclt.com/05.jpg",];
//链接 .link
var pushLink=["http://www.yaochenlietou.com","http://www.yaochenlietou.com","http://www.yaochenlietou.com","http://www.yaochenlietou.com","http://www.yaochenlietou.com"]
var pushShow="";
function showPushLink(num){
	if(!num&&num!=0){
		mainPushNum++;
		if(mainPushNum>4) mainPushNum=0;
		num=mainPushNum;
	}
	for(i=0;i<5;i++){
		_$("linkPush"+i).className="";
		_$("linkPush"+i).innerHTML="<img src='${static_url}/images/iyclt.com/push"+i+".gif'>";
	}
	_$("linkPush"+num).className="linkPushHere";
	_$("linkPush"+num).innerHTML="<strong class='fontOrange'>"+(num+1)+".</strong>"+pushName[num];
	_$("pushImg").src=pushSrc[num];
	_$("pushImgLink").href=pushLink[num];
	_$("pushImg").alt=pushName[num];
}
//图片数量
for(i=0;i<5;i++){
	pushShow+='<a href="'+pushLink[i]+'" onmouseover="showPushLink('+i+');clearInterval(rollId)" id="linkPush'+i+'" target="_blank"><img src="${static_url}/images/iyclt.com/push'+i+'.gif"></a>';
}
_$("linkPush").innerHTML=pushShow;
var mainPushNum=rand(5);
_$("linkPush"+mainPushNum).className="linkPushHere";
_$("linkPush"+mainPushNum).innerHTML="<strong class='fontOrange'>"+(mainPushNum+1)+".</strong>"+pushName[mainPushNum];
_$("mainPush").innerHTML='<a href="'+pushLink[mainPushNum]+'" target="_blank" id="pushImgLink" onmouseover="clearInterval(rollId)" onmouseout="showAtTime()"><img src="'+pushSrc[mainPushNum]+'" name="pushImg" width="330" height="336"id="pushImg" alt="'+pushName[mainPushNum]+'" /></a>';
var rollId=setInterval("showPushLink()",5000);
function showAtTime(){
	showPushLink();
	rollId=setInterval("showPushLink()",5000);
}
</script>
         </div>
         </div>
    
    <div class="blank20"></div>
    <div class="banner">
   <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/970x90_4.jpg" width="745" height="90"></a>
   </div>
   <div class="blank20"></div>
   <!--中二-->
   <div class="yy_clmnc">
   <div class="yy_center">
   <h2>
   <span>
   <a href="www.yaochenlietou.com" target="_blank">管理理论</a>
   </span>
   <a href="www.yaochenlietou.com" target="_blank">更多>></a>
   </h2>
   </div>
   <div class="blank10"></div>
   <div class="yy_centerimg">
   <div class="yy_center${static_url}/images/iyclt.com">
   <a href="www.yaochenlietou" target="_blank"><img alt="信息化战略规划的价值与落地" src="${static_url}/images/iyclt.com/hrz.jpg"></a>
   </div>
   <div class="yy_centerimgtext">
   <dl>
   <dt>
   <a href="www.yaochenlietou.com" target="_blank">11省区工资指导线仅北京上涨</a> 
   </dt>
   <dd>
   信息化战略规划不仅仅是简单的信息化技术规划，而是在明晰公司战略...
   <a href="www.yaochenlietou" target="_blank">[详细]</a>
   </dd>
   </dl>
   </div>
   <div class="blank10"></div>
    <ul class="yy_list6">
         <li>
         <a href="www.yaochenlietou.com" target="_blank">税延养老险方案递至财政部 上海或成首个试点城市</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称退休年龄或在15到20年后调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部：中国实际退休年龄53岁左右 近期不调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">10省份发布2012年工资指导线 新疆最高北京最低</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">延迟退休利好公务员群体 退休金是职工3倍</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">养老金缺口18万亿虚惊一场 专家估算2至8万亿</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称延迟退休势不可挡 1年补社保基金200亿</a>
          </li>
         </ul>
   </div>
   <div class="blank10"></div>
   <!--2-->
     <div class="yy_center">
   <h2>
   <span>
   <a href="www.yaochenlietou.com" target="_blank">医院培训</a>
   </span>
   <a href="www.yaochenlietou.com" target="_blank">更多>></a>
   </h2>
   </div>
   <div class="blank10"></div>
   <div class="yy_centerimg">
   <div class="yy_center${static_url}/images/iyclt.com">
   <a href="www.yaochenlietou" target="_blank"><img alt="信息化战略规划的价值与落地" src="${static_url}/images/iyclt.com/hrz.jpg"></a>
   </div>
   <div class="yy_centerimgtext">
   <dl>
   <dt>
   <a href="www.yaochenlietou.com" target="_blank">信息化战略规划的价值与落地</a> 
   </dt>
   <dd>
   信息化战略规划不仅仅是简单的信息化技术规划，而是在明晰公司战略...
   <a href="www.yaochenlietou" target="_blank">[详细]</a>
   </dd>
   </dl>
   </div>
   <div class="blank10"></div>
   <ul class="yy_list6">
   <li>
   <a href="www.yaochenlietou.com" target="_blank">企业战略转变的对策</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">中小企业从生存到战略的选择</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">精益管理如何促进战略实施</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">边缘战略：卓越绩效企业的制胜秘籍</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">公司战略规划应如何拟定</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">一个伟大企业文化的10要素</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">信息名址——移动互联网时代企业发展助推</a>
   </li>
   </ul>
   </div>
   </div>
   <div class="yy_clmnf">
      <div class="yy_left">
         <h2>   
           <span>
         <a href="www.yaochenlietou" target="_blank">医患关系</a>
         </span>
         <a href="www.yaochenlietou" target="_blank">更多>></a>
         </h2>
         </div>
         <div class="blank10"></div>
        <div class="yy_leftimg">
         <div class="yy_left${static_url}/images/iyclt.com">
         <a href="www.yaochenlietou" target="_blank"><img alt="11省区工资指导线仅北京上涨 河北降幅最大" src="${static_url}/images/iyclt.com/70187672.jpg"></a>
         </div>
         <div class="yy_leftimgtext">
         <dl>
         <dt>
         <a href="www.yaochenlietou" target="_blank">11省区工资指导线仅北京上涨</a>
         </dt>
         <dd>
         11省区工资指导线仅北京上涨 河北降幅最大
         <a href="www.yaochenlietou" target="_blank">[详细]</a>
         </dd>
         </dl>
         </div>
         </div>
         <div class="blank10"></div>
         <ul class="yy_list6">
   <li>
   <a href="www.yaochenlietou.com" target="_blank">企业战略转变的对策</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">中小企业从生存到战略的选择</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">精益管理如何促进战略实施</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">边缘战略：卓越绩效企业的制胜秘籍</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">公司战略规划应如何拟定</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">一个伟大企业文化的10要素</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">信息名址——移动互联网时代企业发展助推</a>
   </li>
   </ul>
         <div class="blank10"></div>
         <!--2-->
            <div class="yy_left">
         <h2>   
           <span>
         <a href="www.yaochenlietou" target="_blank">医院营销</a>
         </span>
         <a href="www.yaochenlietou" target="_blank">更多>></a>
         </h2>
         </div>
         <div class="blank10"></div>
        <div class="yy_leftimg">
         <div class="yy_left${static_url}/images/iyclt.com">
         <a href="www.yaochenlietou" target="_blank"><img alt="11省区工资指导线仅北京上涨 河北降幅最大" src="${static_url}/images/iyclt.com/70187672.jpg"></a>
         </div>
         <div class="yy_leftimgtext">
         <dl>
         <dt>
         <a href="www.yaochenlietou" target="_blank">11省区工资指导线仅北京上涨</a>
         </dt>
         <dd>
         11省区工资指导线仅北京上涨 河北降幅最大
         <a href="www.yaochenlietou" target="_blank">[详细]</a>
         </dd>
         </dl>
         </div>
         </div>
         <div class="blank10"></div>
         <ul class="yy_list6">
         <li>
         <a href="www.yaochenlietou.com" target="_blank">税延养老险方案递至财政部 上海或成首个试点城市</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称退休年龄或在15到20年后调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部：中国实际退休年龄53岁左右 近期不调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">10省份发布2012年工资指导线 新疆最高北京最低</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">延迟退休利好公务员群体 退休金是职工3倍</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">养老金缺口18万亿虚惊一场 专家估算2至8万亿</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称延迟退休势不可挡 1年补社保基金200亿</a>
          </li>
         </ul>
         </div>
   <!--中二-->
   
       <div class="blank20"></div>
    <div class="banner">
   <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/970x90_4.jpg" width="760" height="90"></a>
   </div>
   <div class="blank20"></div>
      <!--左三-->
      <div class="yy_clmnc">
   <div class="yy_center">
   <h2>
   <span>
   <a href="www.yaochenlietou.com" target="_blank">人力资源</a>
   </span>
   <a href="www.yaochenlietou.com" target="_blank">更多>></a>
   </h2>
   </div>
   <div class="blank10"></div>
   <div class="yy_centerimg">
   <div class="yy_center${static_url}/images/iyclt.com">
   <a href="www.yaochenlietou" target="_blank"><img alt="信息化战略规划的价值与落地" src="${static_url}/images/iyclt.com/hrz.jpg"></a>
   </div>
   <div class="yy_centerimgtext">
   <dl>
   <dt>
   <a href="www.yaochenlietou.com" target="_blank">信息化战略规划的价值与落地</a> 
   </dt>
   <dd>
   信息化战略规划不仅仅是简单的信息化技术规划，而是在明晰公司战略...
   <a href="www.yaochenlietou" target="_blank">[详细]</a>
   </dd>
   </dl>
   </div>
   <div class="blank10"></div>
   <ul class="yy_list6">
   <li>
   <a href="www.yaochenlietou.com" target="_blank">企业战略转变的对策</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">中小企业从生存到战略的选择</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">精益管理如何促进战略实施</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">边缘战略：卓越绩效企业的制胜秘籍</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">公司战略规划应如何拟定</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">一个伟大企业文化的10要素</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">信息名址——移动互联网时代企业发展助推</a>
   </li>
   </ul>
   </div>
   <div class="blank15"></div>
   <!--2-->
     <div class="yy_center">
   <h2>
   <span>
   <a href="www.yaochenlietou.com" target="_blank">医疗服务</a>
   </span>
   <a href="www.yaochenlietou.com" target="_blank">更多>></a>
   </h2>
   </div>
   <div class="blank10"></div>
   <div class="yy_centerimg">
   <div class="yy_center${static_url}/images/iyclt.com">
   <a href="www.yaochenlietou" target="_blank"><img alt="信息化战略规划的价值与落地" src="${static_url}/images/iyclt.com/hrz.jpg"></a>
   </div>
   <div class="yy_centerimgtext">
   <dl>
   <dt>
   <a href="www.yaochenlietou.com" target="_blank">信息化战略规划的价值与落地</a> 
   </dt>
   <dd>
   信息化战略规划不仅仅是简单的信息化技术规划，而是在明晰公司战略...
   <a href="www.yaochenlietou" target="_blank">[详细]</a>
   </dd>
   </dl>
   </div>
   <div class="blank10"></div>
   <ul class="yy_list6">
   <li>
   <a href="www.yaochenlietou.com" target="_blank">企业战略转变的对策</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">中小企业从生存到战略的选择</a>
   </li>
    <li>
   <a href="www.yaochenlietou.com" target="_blank">精益管理如何促进战略实施</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">边缘战略：卓越绩效企业的制胜秘籍</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">公司战略规划应如何拟定</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">一个伟大企业文化的10要素</a>
   </li>
      <li>
   <a href="www.yaochenlietou.com" target="_blank">信息名址——移动互联网时代企业发展助推</a>
   </li>
   </ul>
   </div>
   </div>
  <div class="yy_clmnf">
  
         <div class="yy_left">
         <h2>   
           <span>
         <a href="www.yaochenlietou" target="_blank">医院文化</a>
         </span>
         <a href="www.yaochenlietou" target="_blank">更多>></a>
         </h2>
         </div>
         <div class="blank10"></div>
        <div class="yy_leftimg">
         <div class="yy_left${static_url}/images/iyclt.com">
         <a href="www.yaochenlietou" target="_blank"><img alt="11省区工资指导线仅北京上涨 河北降幅最大" src="${static_url}/images/iyclt.com/70187672.jpg"></a>
         </div>
         <div class="yy_leftimgtext">
         <dl>
         <dt>
         <a href="www.yaochenlietou" target="_blank">11省区工资指导线仅北京上涨</a>
         </dt>
         <dd>
         11省区工资指导线仅北京上涨 河北降幅最大
         <a href="www.yaochenlietou" target="_blank">[详细]</a>
         </dd>
         </dl>
         </div>
         </div>
         <div class="blank10"></div>
         <ul class="yy_list6">
         <li>
         <a href="www.yaochenlietou.com" target="_blank">税延养老险方案递至财政部 上海或成首个试点城市</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称退休年龄或在15到20年后调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部：中国实际退休年龄53岁左右 近期不调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">10省份发布2012年工资指导线 新疆最高北京最低</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">延迟退休利好公务员群体 退休金是职工3倍</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">养老金缺口18万亿虚惊一场 专家估算2至8万亿</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称延迟退休势不可挡 1年补社保基金200亿</a>
          </li>
         </ul>
         <div class="blank15"></div>
         <!--2-->
            <div class="yy_left">
         <h2>   
           <span>
         <a href="www.yaochenlietou" target="_blank">医院品牌</a>
         </span>
         <a href="www.yaochenlietou" target="_blank">更多>></a>
         </h2>
         </div>
         <div class="blank10"></div>
        <div class="yy_leftimg">
         <div class="yy_left${static_url}/images/iyclt.com">
         <a href="www.yaochenlietou" target="_blank"><img alt="11省区工资指导线仅北京上涨 河北降幅最大" src="${static_url}/images/iyclt.com/70187672.jpg"></a>
         </div>
         <div class="yy_leftimgtext">
         <dl>
         <dt>
         <a href="www.yaochenlietou" target="_blank">11省区工资指导线仅北京上涨</a>
         </dt>
         <dd>
         11省区工资指导线仅北京上涨 河北降幅最大
         <a href="www.yaochenlietou" target="_blank">[详细]</a>
         </dd>
         </dl>
         </div>
         </div>
         <div class="blank10"></div>
         <ul class="yy_list6">
         <li>
         <a href="www.yaochenlietou.com" target="_blank">税延养老险方案递至财政部 上海或成首个试点城市</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称退休年龄或在15到20年后调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部：中国实际退休年龄53岁左右 近期不调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">10省份发布2012年工资指导线 新疆最高北京最低</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">延迟退休利好公务员群体 退休金是职工3倍</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">养老金缺口18万亿虚惊一场 专家估算2至8万亿</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称延迟退休势不可挡 1年补社保基金200亿</a>
          </li>
         </ul>
         </div>
         

       </div>
       <div class="blank20">
       
       </div>
       <div class="banner1">
       <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/970x90_4.jpg" width="980" height="90"></a>
       </div>
   <div class="blank20"></div>
   <div class="yy_clmnr">
   <div class=" yy_rightbj">
   <div class="yy_tit10">
        <h5>
         <span><a href="www.yaochenlietou.com" target="_blank">劳动纠纷</a>
         </span>
         <a href="www.yaochenlietou.com" target="_blank">更多</a>
         </h5>
         </div>
         <ul class="list7">
          <li class="flist7">
          <a href="www.yaochenlietou.com" target="_blank">工伤保险有多少侥幸就有多少遗憾</a>
          </li>
          <li>
          <a href="www.yaochenlietou.com" target="_blank">工伤保险有多少侥幸就有多少遗憾</a>
          </li>
           <li>
          <a href="www.yaochenlietou.com" target="_blank">工伤保险有多少侥幸就有多少遗憾</a>
          </li>
           <li>
          <a href="www.yaochenlietou.com" target="_blank">工伤保险有多少侥幸就有多少遗憾</a>
          </li>
           <li>
          <a href="www.yaochenlietou.com" target="_blank">工伤保险有多少侥幸就有多少遗憾</a>
          </li>
           <li>
          <a href="www.yaochenlietou.com" target="_blank">工伤保险有多少侥幸就有多少遗憾</a>
          </li>
          </ul>
         </div>
    <div class="blank10"></div>
    <div class="yy_rightbj">
    <div class="banner">
    <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/326363.jpg" width="200" height="320"></a>
    </div>
    </div>
    <div class="blank10"></div>
   </div>
   <div class="yy_clmn">
        <!--左四-->
        <div class="yy_clmnc">
     <div class="job">
        <div class="job_title">
         <h1>
         <span>
          <a href="www.yaochenlietou.com" target="_blank">医疗猎头职位</a>   
          </span>
          <a href="www.yaochenlietou.com" target="_blank">深圳</a> | 
          <a href="www.yaochenlietou.com" target="_blank">广州</a> | 
          <a href="www.yaochenlietou.com" target="_blank">香港</a> | 
          <a href="www.yaochenlietou.com" target="_blank">北京</a>
          </h1>
          </div>
      <div class="joblist">
<dl>
<dt>
    <ul>
          <li class="regionnav">地    区</li>
          <li class="title1nav">职    位</li>
          <li class="salarynav">年    薪</li>
          <li class="timenav">  截止日期</li>
</ul>

</dt><dd>
 <ul>
  <li class="region">上 海</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">销售总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">南 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">60万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">天  津</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">地区经理</a></li>
  <li class="salary">20万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">上 海</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">70万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">海 南</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">省区经理</a></li>
  <li class="salary">30万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
      <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  </dt>
  </dl>
       </div>
    </div>
   <div class="blank20"></div>
   <!--2-->
<div class="job">
        <div class="job_title">
         <h1>
         <span>
          <a href="www.yaochenlietou.com" target="_blank">医疗猎头职位</a>   
          </span>
          <a href="www.yaochenlietou.com" target="_blank">深圳</a> | 
          <a href="www.yaochenlietou.com" target="_blank">广州</a> | 
          <a href="www.yaochenlietou.com" target="_blank">香港</a> | 
          <a href="www.yaochenlietou.com" target="_blank">北京</a>
          </h1>
          </div>
      <div class="joblist">
<dl>
<dt>
    <ul>
          <li class="regionnav">地    区</li>
          <li class="title1nav">职    位</li>
          <li class="salarynav">年    薪</li>
          <li class="timenav">  截止日期</li>
</ul>

</dt><dd>
 <ul>
  <li class="region">上 海</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">销售总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">南 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">60万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">天  津</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">地区经理</a></li>
  <li class="salary">20万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">上 海</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">70万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">海 南</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">省区经理</a></li>
  <li class="salary">30万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
      <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  </dt>
  </dl>
       </div>
    </div>
   </div>
   <div class="yy_clmnf">
         <div class="yy_left">
         <h2>   
           <span>
         <a href="www.yaochenlietou" target="_blank">护理管理</a>
         </span>
         <a href="www.yaochenlietou" target="_blank">更多>></a>
         </h2>
         </div>
         <div class="blank10"></div>
        <div class="yy_leftimg">
         <div class="yy_left${static_url}/images/iyclt.com">
         <a href="www.yaochenlietou" target="_blank"><img alt="11省区工资指导线仅北京上涨 河北降幅最大" src="${static_url}/images/iyclt.com/70187672.jpg"></a>
         </div>
         <div class="yy_leftimgtext">
         <dl>
         <dt>
         <a href="www.yaochenlietou" target="_blank">11省区工资指导线仅北京上涨</a>
         </dt>
         <dd>
         11省区工资指导线仅北京上涨 河北降幅最大
         <a href="www.yaochenlietou" target="_blank">[详细]</a>
         </dd>
         </dl>
         </div>
         </div>
         <div class="blank10"></div>
         <ul class="yy_list6">
         <li>
         <a href="www.yaochenlietou.com" target="_blank">税延养老险方案递至财政部 上海或成首个试点城市</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称退休年龄或在15到20年后调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部：中国实际退休年龄53岁左右 近期不调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">10省份发布2012年工资指导线 新疆最高北京最低</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">延迟退休利好公务员群体 退休金是职工3倍</a>
          </li>
         </ul>
         <div class="blank10"></div>
         <!--2-->
            <div class="yy_left">
         <h2>   
           <span>
         <a href="www.yaochenlietou" target="_blank">科室建设</a>
         </span>
         <a href="www.yaochenlietou" target="_blank">更多>></a>
         </h2>
         </div>
         <div class="blank10"></div>
        <div class="yy_leftimg">
         <div class="yy_left${static_url}/images/iyclt.com">
         <a href="www.yaochenlietou" target="_blank"><img alt="11省区工资指导线仅北京上涨 河北降幅最大" src="${static_url}/images/iyclt.com/70187672.jpg"></a>
         </div>
         <div class="yy_leftimgtext">
         <dl>
         <dt>
         <a href="www.yaochenlietou" target="_blank">11省区工资指导线仅北京上涨</a>
         </dt>
         <dd>
         11省区工资指导线仅北京上涨 河北降幅最大
         <a href="www.yaochenlietou" target="_blank">[详细]</a>
         </dd>
         </dl>
         </div>
         </div>
         <div class="blank10"></div>
         <ul class="yy_list6">
         <li>
         <a href="www.yaochenlietou.com" target="_blank">税延养老险方案递至财政部 上海或成首个试点城市</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部称退休年龄或在15到20年后调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">人社部：中国实际退休年龄53岁左右 近期不调整</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">10省份发布2012年工资指导线 新疆最高北京最低</a>
          </li>
           <li>
         <a href="www.yaochenlietou.com" target="_blank">延迟退休利好公务员群体 退休金是职工3倍</a>
          </li>
         </ul>
         </div>
   <!--中四-->
   
   </div>


    <div class="blank10"></div>

<div class="banner1">
<a href="www.yaochenietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/970x90.jpg" width="970" height="90"></a>
</div>
<div class="area yy_friendLink">
<div class="yy_title">
友情链接
</div>
<ul>
<li>
<a href="www.yaochenlietou.com" target="_blank">瑶臣猎头网</a> | 
<a href="www.yaochenlietou.com" target="_blank">瑶臣医药猎头</a> | 
<a href="www.yaochenlietou.com" target="_blank">瑶臣医疗猎头</a> 
</li>
</ul>
<div class="yy_rtit">
<span>
声明
</span>
<div class="yy_r">
<p>瑶臣人力资源频道内容来自合作媒体或其他投稿者</p>
<p>如有侵权请联系:271769336@qq.com</p>
<p>文章投稿邮箱:271769336@qq.com</p>
</div>
</div>
</div>
 </div>
    </div>
    <script type="text/javascript">
$(document).ready(function () {
        var bt = $('#toolBackTop');
        var sw = $(document.body)[0].clientWidth;

        var limitsw = (sw - 1060) / 2 - 150;
        if (limitsw > 0){
                limitsw = parseInt(limitsw);
                bt.css("right",limitsw);
        }

        $(window).scroll(function() {
                var st = $(window).scrollTop();
                if(st > 30){
                        bt.show();
                }else{
                        bt.hide();
                }
        });
})
</script>
<h5><span style="color: #339966;">
</span></h5>
<div id="toolBackTop" class="back-to" style="display: none;"><a class="back-top" title="返回顶部" onclick="window.scrollTo(0,0);return false;" href="#top"> 返回顶部</a></div>
    
       <div id="footer" class="area">
<div class="blank10"></div>
 <ul>
 <li><a href="http://www.yaochenlietou.com" target="_blank">瑶臣猎头简介</a> &nbsp; |   &nbsp;
 <a href="http://www.yaochenlietou.com" target="_blank">合作客户</a> &nbsp;  |   &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">加入瑶臣</a> &nbsp;  |   &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">联系方式</a>&nbsp;   |   &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">候选人平台</a>&nbsp;   |    &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">意见反馈</a></li>  
<div class="blank10"></div>
<p class="end">Copyright &copy; 2008 - 2012 YaoChenWanDai. All Rights Reserved</p>
 </ul>
 </div>

 </div>
</body>
</html>
