<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta name="description" content="瑶臣万代_专注于医药、医疗行业网站"/>
<meta name="keywords" content="瑶臣万代,医药网" />
<meta name="reply-to" content="all"/>
<link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon"/>

<link type="text/css" rel="stylesheet" href="${static_url}/css/iyclt.com/master.css"/>
<link type="text/css" rel="stylesheet" href="${static_url}/css/iyclt.com/layout.css"/>
<link type="text/css" rel="stylesheet" href="${static_url}/css/iyclt.com/style.css"/>
<script type="text/javascript" src="${static_url}/js/iyclt.com/onejs/swfobject.js"></script>
<title>瑶臣万代_专注于医药、医疗行业网站</title>
</head>
<script>
function drop_mouseover(pos){
 try{window.clearTimeout(timer);}catch(e){}
}
function drop_mouseout(pos){
 var posSel=document.getElementById(pos+"Sel").style.display;
 if(posSel=="block"){
  timer = setTimeout("drop_hide('"+pos+"')", 1000);
 }
}
function drop_hide(pos){
 document.getElementById(pos+"Sel").style.display="none";
}
function search_show(pos,searchType,href){
    document.getElementById(pos+"SearchType").value=searchType;
    document.getElementById(pos+"Sel").style.display="none";
    document.getElementById(pos+"Slected").innerHTML=href.innerHTML;
    document.getElementById(pos+'q').focus();
    var sE = document.getElementById("searchytitle");
    if(sE != undefined  &&  searchType == "ytitle"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
	  var sE = document.getElementById("searchltitle");
    if(sE != undefined  &&  searchType == "ltitle"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
		  var sE = document.getElementById("searchbelite");
    if(sE != undefined  &&  searchType == "belite"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
			  var sE = document.getElementById("searchnelite");
    if(sE != undefined  &&  searchType == "nelite"){
     sE.style.display="block";
    }else if(sE != undefined){
     sE.style.display="none";
    }
 try{window.clearTimeout(timer);}catch(e){}
 return false;
}
</script>
<body>
  <div id="header">
    <div id="header-left">
      <span>&nbsp;Tel:010-57389079、64735936</span>
    </div>
  <div id="header-right">
    <a href="#">设为首页</a>&nbsp;<span>|</span>&nbsp;<a href="#">添加收藏</a>&nbsp;<span>|</span>&nbsp;<a href="#">网站导航</a>&nbsp;
</div>
</div>
<div class="blank5"></div>
	
    <div class="mainnav">
	
	<div class="ycwdlogo">
    <h1>
	  <a href="www.yaochenlietou.com"><img src="${static_url}/images/iyclt.com/ycwdlogo.jpg" /></a>
      </h1>
	</div>
	
	<div class="navlist">
	 <ul>
	  <li class="navzy">
	   <a href="www.yaochenlietou.com">猎头</a>
	  </li>
	   
	  <li>
	    <a href="www.yaochenlietou.com">医药</a>
	  </li>
		
	  <li>
		<a href="www.yaochenlietou.com">医疗</a>
	  </li>
		
		<li>
		<a href="www.yaochenlietou.com">生物</a>
		</li>
                
         <li class="navxiantiao"></li>       
        <li class="navzy">	
         <a href="www.yaochenlietou.com">人事</a>
       </li>
         
         <li>
         <a href="www.yaochenlietou.com">社保</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">战略</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">绩效</a>
         </li>
         
         <li class="navxiantiao"></li>  
         <li class="navzy">	
         <a href="www.yaochenlietou.com">医院</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">交流</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">临床</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">学术</a>
         </li>
      </ul>
        
        <ul>
       
	  <li class="navzy">
	   <a href="www.yaochenlietou.com">新闻</a>
	  </li>
	   
	  <li>
	    <a href="www.yaochenlietou.com">国际</a>
	  </li>
		
	  <li>
		<a href="www.yaochenlietou.com">评论</a>
	  </li>
		
		<li>
		<a href="www.yaochenlietou.com">政策</a>
		</li>
                
         <li class="navxiantiao"></li>       
        <li class="navzy">	
         <a href="www.yaochenlietou.com">培训</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">内训</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">营销</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">技巧</a>
         </li>
         
         <li class="navxiantiao"></li>  
         <li class="navzy">	
         <a href="www.yaochenlietou.com">管理</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">公关</a>
         </li>
         
       <li>
         <a href="www.yaochenlietou.com">文化</a>
         </li>
         
         <li>
         <a href="www.yaochenlietou.com">团队</a>
         </li>
        </ul>       
      </div> 
      </div>
          <div class="blank5"></div>
          <div id="sosuo">
          <div class="searchTool">
  <div class="selSearch">
    <div class="nowSearch" id="headSlected" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');">新闻搜索</div>
    <div class="btnSel"><a href="#" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');"></a></div>
    <div class="clear"></div>
   	<ul class="selOption" id="headSel" style="display:none;">
					<li><a href="#" onclick="return search_show('head','xinwen',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">新闻搜索</a></li>
					<li><a href="#" onclick="return search_show('head','ytitle',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">医药职位</a></li>
					<li><a href="#" onclick="return search_show('head','ltitle',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">医疗职位</a></li>
					<li><a href="#" onclick="return search_show('head','belite',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">北区人才</a></li>
					<li><a href="#" onclick="return search_show('head','nelite',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">南区人才</a></li>
			 </ul>
    </div>
    
     <form method="get" action="http://www.yaochenlietou.com" name="headSearchForm" id="headSearchForm" onsubmit="return dosearch(this);">
       <input name="searchdomain" type="hidden" value="http://www.yaochenlietou.com">
     <input id="headSearchType" name="searchType" type="hidden" value="xinwen"> <input class="txtSearch" id="headq" name="q" type="text" value="请输入你要搜索的关键词"  onfocus="if (value =='请输入你要搜索的关键词'){value =''}" onblur="if (value ==''){value='请输入你要搜索的关键词'}"/>
     
     <div class="btnSearch">
     
    <a href="#" onclick="javascript:return dosearch(document.getElementById('headSearchForm'));"><span class="lbl">搜索</span></a>
     </div>
          <div class="searchytitle" id="searchytitle" name="searchytitle" style="display:none">
           <input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按地区搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按职位搜<input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按年薪搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按时间搜<input type="hidden" name="sbts" value="ytitle">
     </div>
     
       <div class="searchltitle" id="searchltitle" name="searchltitle" style="display:none">
           <input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按地区搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按职位搜<input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按年薪搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按时间搜<input type="hidden" name="sbts" value="ltitle">
     </div>
     
            <div class="searchbelite" id="searchbelite" name="searchbelite" style="display:none">
          <input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按地区搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按职位搜<input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按年薪搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按时间搜<input type="hidden" name="sbts" value="belite">
     </div>
     <div class="searchnelite" id="searchnelite" name="searchnelite" style="display:none">
          <input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按地区搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按职位搜<input type="radio" class="radio" name="sbt" value="post" onclick="csbt(this,this.form.sbts);" />按年薪搜<input type="radio" name="sbt" value="user" onclick="csbt(this,this.form.sbts);" class="radio" />按时间搜<input type="hidden" name="sbts" value="nelite">
     </div>
          <div class="clear"></div>
     </form>
     
       </div>
  <div class="hot">
   <div class="hota">
    <a href="www.yaocyhenlietou.com" target="_blank">招聘技巧</a>  
    <a href="www.yaocyhenlietou.com" target="_blank">绩效管理</a>  
    <a href="www.yaocyhenlietou.com" target="_blank">销售总监</a>  
    <a href="www.yaocyhenlietou.com" target="_blank">市场总监</a>  
    <a href="www.yaocyhenlietou.com" target="_blank">销售技巧</a>  
    <a href="www.yaocyhenlietou.com" target="_blank">市场总监</a>  
    </div>
    </div>

   </div>
   
        </div> 

 </div>

      <div class="main">
      <!--正文一屏-->
       <div class="column">
       <!--js-->
      <div id="columna">
 <div class="turn"> 
<div id="adpica"> 
<div class="show"> 
<a href="/a/20111119/000002.htm"> 
<img  width="380" height="210" src="/get_pic/2011/05/2011112200402076.jpg"></a><span>焦点图文字背景</span><p 
href="/a/20111119/000002.htm"> 
广州花都拆违遭遇碎瓶煤气罐</p> 
<!--[if !IE]>|xGv00|9f7171a0d436636945e9c21690c2ece8<![endif]--> 
</div> 
<div style="display: none;" class="hidden"> 
<a href="/a/20111119/000028.htm"> 
<img  width="380" height="210" src="/get_pic/2011/05/20111122004026686.jpg"></a><span>焦点图文字背景</span><p 
href="/a/20111119/000028.htm"> 
一颗“钉子”放弃工作保祖屋5年</p> 
<!--[if !IE]>|xGv00|d23979cbd54ef39a84fe343a81550dff<![endif]--> 
</div> 
<div class="hidden" style="display: none;"> 
<a href="/a/20111117/000250.htm"> 
<img  width="380" height="210" src="/get_pic/2011/05/20111122004032777.jpg"></a><span>焦点图文字背景</span><p 
href="/a/20111117/000250.htm"> 
爸爸，不要把我丢下</p> 
<!--[if !IE]>|xGv00|93b927379aeaca72b86d66dbb2e57614<![endif]--> 
</div> 
<div class="hidden" style="display: none;"> 
<a href="/a/20111119/000004.htm"> 
<img  width="380" height="210" src="/get_pic/2011/05/20111122004038396.jpg"></a><span>焦点图文字背景</span><p 
href="/a/20111119/000004.htm"> 
杨幂最新杂志写真 魅惑优雅</p> 
<!--[if !IE]>|xGv00|ca04e9980d08c91f55db9ea4ee64489c<![endif]--> 
</div> 
</div> 
<div id="adtipa"> 
<ul onmouseout="change()"> 
<li class="current" onmouseover="adchangea(1)">1 </li> 
<li class="" onmouseover="adchangea(2)">2 </li> 
<li class="" onmouseover="adchangea(3)">3 </li> 
<li class="" onmouseover="adchangea(4)">4</li></ul> 
</div> 
<script> 
//鼠标移过来的动作。显示当前图片，清除轮询。 
function adchangea(adid) { 
dochange(adid); 
clearTimeout(adisround); 
} 
//自动轮询 
function adchangea2(adid) { 
dochange(adid); 
var adbigimg = document.getElementById("adpica").getElementsByTagName("div"); 
if ((adnext = adid + 1) > adbigimg.length) adnext = 1; 
adisround = setTimeout('adchangea2(' + adnext + ')', 3000); 
} 
//显示当前图片 
function dochange(adid) { 
id = adid; 
var adbigimg = document.getElementById("adpica").getElementsByTagName("div"); 
var adsmallimg = document.getElementById("adtipa").getElementsByTagName("li"); 
for (var adi = 0; adi < adbigimg.length; adi++) { 
adbigimg[adi].className = "hidden"; 
adsmallimg[adi].className = ""; 
} 
adbigimg[adid - 1].className = "show"; 
adsmallimg[adid - 1].className = "current"; 
} 
var adisround = setTimeout("adchangea2(2)", 3000); 
var id;//当前激活id 
//鼠标移开ul块时，恢复轮询 
function change() { 
adchangea2(id); 
} 

</script> 

</DIV>
<div class="blank13"></div>

  <div class="list14">
<ul>
  <li>
   
   <a href="www.yaochenlietou.com" target="_blank">食药监局就加强药用辅料监管有关规定征求意见</a>
  </li>
   <li>
   <a href="www.yaochenlietou.com" target="_blank">食药监局就加强药用辅料监管有关规定征求意见</a>
  </li>
   <li>
   <a href="www.yaochenlietou.com" target="_blank">食药监局就加强药用辅料监管有关规定征求意见</a>
  </li>
   <li>
   <a href="www.yaochenlietou.com" target="_blank">食药监局就加强药用辅料监管有关规定征求意见</a>
  </li>
  </ul>
</div>

</div>
 <!--首屏中-->
<!--今日要闻-->
 <div class="cnew">
 <div class="new_title">
 <h2>
<span class="icon_one"><img src="${static_url}/images/iyclt.com/icon1.png" /></span>
 <span><a href="http://www.yaochenlietou.com" target="_blank">今日要闻</a></span>
 </h2>
 </div>
  <div class="blank8"></div>
 <div class="newso">
 <h4>
 <a href="http://www.yaochenlietou.com" target="_blank">网友感叹&ldquo;心&rdquo;是缓和医患矛盾的良药</a>
 </h4>
 <p>
 <a href="http://www.yaochenlietou.com" target="_blank">[医生被杀]</a>
 <a href="http://www.yaochenlietou.com" target="_blank">[医患关系再次升级]</a>
 </p>
 </div>
  <div class="newst">
 <h2>
 <a href="http://www.yaochenlietou.com" target="_blank">江苏某企业招聘总经理</a>
 </h2>
 <p>
 <a href="http://www.yaochenlietou.com" target="_blank">[市场总监]</a>
 <a href="http://www.yaochenlietou.com" target="_blank">[海外审计师]</a>
 </p>
 <p>
 <a href="http://www.yaochenlietou.com" target="_blank">[北京 销售总监]</a>
 <a href="http://www.yaochenlietou.com" target="_blank">[广州 市场经理]</a>
 </p>
 </div>

 <div class="list8">
 <ul>
  <li>
   <a href="www.iyclt.com" target="_blank">[行业]</a> <a href="http://www.yaochenlietou.com" target="_blank">中国现有2.3亿流动人口 异地看病报销成难题</a>
  </li>
  <li>
  <a href="www.iyclt.com" target="_blank">[新闻]</a> <a href="http://www.yaochenlietou.com" target="_blank">四问深圳医保&ldquo;缴费至死&rdquo; 社保究竟多差钱儿</a>
  </li>
  <li>
   <a href="www.iyclt.com" target="_blank">[评论]</a> <a href="http://www.yaochenlietou.com" target="_blank">财政出资建平价医院 医改&ldquo;子长模式&rdquo;或难复制</a>
   </li>
<li>
   <a href="www.iyclt.com" target="_blank">[医院]</a> <a href="http://www.yaochenlietou.com" target="_blank">卫生部数据表明 社会资本办医呈快速增长趋势</a>
    </li>
    <li>
    <a href="www.iyclt.com" target="_blank">[行业]</a> <a href="http://www.yaochenlietou.com" target="_blank">太原:符合条件医师可在1到3个医疗机构执业</a>
    </li>
    <li>
    <a href="www.iyclt.com" target="_blank">[医改]</a> <a href="http://www.yaochenlietou.com" target="_blank">一季度全国医疗卫生机构总诊疗数达15.6亿人次</a>
     </li>
     </ul>
     </div>
     </div>
     <div class="blank20"></div>
     


<!--医院-->
<div class="columnf">
 <div class="title2">
   <h2>
     <span><a href="www.yaochenlietou.com" target="_blank">医院管理</a></span>
     <a href="www.yaochenlietou.com" target="_blank">财务</a> |
     <a href="www.yaochenlietou.com" target="_blank">文化</a> |
     <a href="www.yaochenlietou.com" target="_blank">科室</a> 
   </h2>
   </div>
   
   <div class="tongyong">
   <h4>
    <a href="www.yaochenlietou.com" target="_blank">民营医院管理者成功激励四部曲</a>
    </h4>
    </div>

 <div class="fPic">
     <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/one.png" alt="医院文化建设的五个维度" width="123" height="86"></a>
     <div class="textbj"></div>
     <div class="text">
       <a href="www.yaochenlietou.com" target="_blank">医院文化建设的五个维度</a>
       </div>
       </div>
        <ul class="list4">
      <li><a href="www.iyclt.com" target="_blank">医院成本控制的原则</a></li>
      <li><a href="www.iyclt.com" target="_blank">护士长的人性化管理</a></li>
      <li><a href="www.iyclt.com" target="_blank">医院负债经营的财务风险控制</a></li>
      </ul>
   <div class="blank5"></div>   
     <ul class="list12">
     <li> <a href="www.iyclt.com" target="_blank">[护理]</a> <a href="www.yaochenlietou.com" target="_blank">提高医院感染管理的做法与效果</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[设备]</a> <a href="www.yaochenlietou.com" target="_blank">临床路径：应当特殊抚育的“早产儿”</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[库房]</a> <a href="www.yaochenlietou.com" target="_blank">医院麻醉药品的管理体会</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[信息]</a> <a href="www.yaochenlietou.com" target="_blank">医院电子档案管理</a>
     </ul>
      
</div>

<!--中医药-->
<div class="columnc">
 <div class="title3">
  <h2>
   <span> <a href="www.yaochenlietou.com" target="_blank">中医药</a></span>
   <a href="www.yaochenlietou.com" target="_blank">文化</a>| 
   <a href="www.yaochenlietou.com" target="_blank">学术</a>| 
   <a href="www.yaochenlietou.com" target="_blank">视点</a>
  </h2>
  </div>
      <div class="tongyong">
   <h4>
    <a href="www.yaochenlietou.com" target="_blank">品牌体系构建需“内功”与“身法”兼具</a>
    </h4>
    </div>
  
  
  <div class="fpicc">
     <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/one.png" alt="老板们：让你们的员工休假" width="123" height="86"></a>
     <div class="textbjc"></div>
     <div class="textc">
       <a href="www.yaochenlietou.com" target="_blank">员工抱怨工资太少</a>
       </div>
       </div>
     <ul class="list4">
      <li><a href="www.iyclt.com" target="_blank">构建人力资本激励机制</a></li>
      <li><a href="www.iyclt.com" target="_blank">老板们：让你们的员工休假</a></li>
      <li><a href="www.iyclt.com" target="_blank">升职加薪必备的心理对策</a></li>

      </ul>
    <div class="blank5"></div>
      
    <ul class="list12">
     <li> <a href="www.iyclt.com" target="_blank">[招聘]</a> <a href="www.yaochenlietou.com" target="_blank">进军海外如何招贤纳才？</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[薪酬]</a> <a href="www.yaochenlietou.com" target="_blank">谈谈企业薪酬定位高低的区别及优缺点</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[内训]</a> <a href="www.yaochenlietou.com" target="_blank">HR该以哪种方式与应聘者交谈</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[战略]</a> <a href="www.yaochenlietou.com" target="_blank">国有企业薪酬管理要解决的6个问题</a>
     </ul>
      </div>
      

</div>

 <!--右1-->
<div class="columnr">
<!--右1-->
 <div class="columnk">
   <div class="tit">
    <span><a href="www.yaochenlietou.com" target="_blank"> 评 论 </a>
    </span>
    </div>
    <div class="list6">
     <ul>
      <li>
       <a href="www.yaochenlietou.com" target="_blank"> 医务人员如何打通“任督二脉”？</a>
    
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> “医院赶客”是医疗痼疾典型症候</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 假装收红包是医德的升华</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 无法回避另一个舌尖上的中国</a>
       </li>
              <li>
       <a href="www.yaochenlietou.com" target="_blank"> “仁心仁术”须与信任尊重对接</a>
       </li>
       </ul>
       </div>

    
    
    </div>
    <div class="bannerr">
     <a href="www.yaochenlietou.com" title="江苏招聘" target="_blank"><img src="${static_url}/images/iyclt.com/r1guanggao.png"></a></div>
     
 <div class="columnk">
   <div class="tit">
    <span><a href="www.yaochenlietou.com" target="_blank"> 评 论 </a>
    </span>
    </div>
    <div class="list6">
     <ul>
      <li>
       <a href="www.yaochenlietou.com" target="_blank"> 医务人员如何打通“任督二脉”？</a>
    
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> “医院赶客”是医疗痼疾典型症候</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 假装收红包是医德的升华</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 无法回避另一个舌尖上的中国</a>
       </li>
              <li>
       <a href="www.yaochenlietou.com" target="_blank"> “仁心仁术”须与信任尊重对接</a>
       </li>
       </ul>
       </div>
    </div>
    </div>


   


  <!--广告-->
<div class="banner"><a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/ad1.jpg" ></a> </div>
<!--右2-->
<div class="columnry">
    <div class="bannero">
     <a href="www.yaochenlietou.com" title="江苏招聘" target="_blank"><img src="${static_url}/images/iyclt.com/r3guanggao.png"></a></div>
     
 <div class="columnk">
   <div class="tit">
    <span><a href="www.yaochenlietou.com" target="_blank"> 评 论 </a>
    </span>
    </div>
    <div class="list6">
     <ul>
      <li>
       <a href="www.yaochenlietou.com" target="_blank"> 医务人员如何打通“任督二脉”？</a>
    
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> “医院赶客”是医疗痼疾典型症候</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 假装收红包是医德的升华</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 无法回避另一个舌尖上的中国</a>
       </li>
              <li>
       <a href="www.yaochenlietou.com" target="_blank"> “仁心仁术”须与信任尊重对接</a>
       </li>
       </ul>
       </div>
    </div>
    <div class="columnk">
   <div class="tit">
    <span><a href="www.yaochenlietou.com" target="_blank"> 评 论 </a>
    </span>
    </div>
    <div class="list6">
     <ul>
      <li>
       <a href="www.yaochenlietou.com" target="_blank"> 医务人员如何打通“任督二脉”？</a>
    
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> “医院赶客”是医疗痼疾典型症候</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 假装收红包是医德的升华</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 无法回避另一个舌尖上的中国</a>
       </li>
              <li>
       <a href="www.yaochenlietou.com" target="_blank"> “仁心仁术”须与信任尊重对接</a>
       </li>
       </ul>
       </div>
    </div>
<div class="banneru">
 <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/r4guanggao.png"></a></div>
    </div>
    
    
    <!--正文2屏-->
<div class="column">
<!--人力资源-->     
     <div class="hr">
 <div class="title2">
  <h2>
   <span>
<a href="www.yaochenlietou.com" target="_parent">人力资源</a>
   </span>
   <a href="www.yaochenlietou.com" target="_blank">战略</a>| 
   <a href="www.yaochenlietou.com" target="_blank">绩效</a>| 
   <a href="www.yaochenlietou.com" target="_blank">社保</a>
   </h2>
   </div>
   <div class="tongyong">
   <h4>
    <a href="www.yaochenlietou.com" target="_blank">HR管理智慧：用哲学论打造企业文化</a>
    </h4>
    </div>
    <div class="fPic">
     <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/one.png" alt="老板们：让你们的员工休假" width="123" height="86"></a>
     <div class="textbj"></div>
     <div class="text">
       <a href="www.yaochenlietou.com" target="_blank">员工抱怨工资太少</a>
       </div>
       </div>
     <ul class="list4">
      <li><a href="www.iyclt.com" target="_blank">构建人力资本激励机制</a></li>
      <li><a href="www.iyclt.com" target="_blank">老板们：让你们的员工休假</a></li>
      <li><a href="www.iyclt.com" target="_blank">升职加薪必备的心理对策</a></li>

      </ul>
    <div class="blank5"></div>
      
    <ul class="list12">
     <li> <a href="www.iyclt.com" target="_blank">[招聘]</a> <a href="www.yaochenlietou.com" target="_blank">进军海外如何招贤纳才？</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[薪酬]</a> <a href="www.yaochenlietou.com" target="_blank">谈谈企业薪酬定位高低的区别及优缺点</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[内训]</a> <a href="www.yaochenlietou.com" target="_blank">HR该以哪种方式与应聘者交谈</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[战略]</a> <a href="www.yaochenlietou.com" target="_blank">国有企业薪酬管理要解决的6个问题</a>
     </ul>
      </div>
 <!--医药招聘-->
     <div class="job">
    <div class="job_title">
     <h1>
      <span> <a href="http://www.yaochenlietou.com" target="_blank">医药猎头职位</a></span>
             <a href="http://www.yaochenlietou.com" target="_blank">北 京</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">上 海</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">广 州</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">江 苏</a> 
      </h1>
</div>
      <div class="joblist">
<dl>
<dt>
    <ul>
          <li class="regionnav">地    区</li>
          <li class="title1nav">职    位</li>
          <li class="salarynav">年    薪</li>
          <li class="timenav">  截止日期</li>
</ul>

<dd>
 <ul>
  <li class="region">上 海</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">销售总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">南 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">60万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">天  津</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">地区经理</a></li>
  <li class="salary">20万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">上 海</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">70万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">海 南</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">省区经理</a></li>
  <li class="salary">30万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">北 京</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">广 州</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">香 港</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">审计师 </a></li>
  <li class="salary">40万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  </dt>
  </dl>



       </div>

</div>
<div class="blank10"></div>
<!--营销-->
<div class="yx">
<div class="title2">
 <h2>
  <span><a href="www.iyclt.com" target="_blank">市场营销</a></span>
  <a href="www.iyclt.com" target="_blank">医药</a> | 
  <a href="www.iyclt.com" target="_blank">培训</a> | 
  <a href="www.iyclt.com" target="_blank">渠道</a>
 </h2>
 </div>
 
    <div class="tongyong">
   <h4>
    <a href="www.yaochenlietou.com" target="_blank">品牌体系构建需“内功”与“身法”兼具</a>
    </h4>
    </div>
    <div class="fPic">
     <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/one3.png" alt="戳破微博营销的神话" width="123" height="86"></a>
     <div class="textbj"></div>
     <div class="text">
       <a href="www.yaochenlietou.com" target="_blank">戳破微博营销的神话</a>
       </div>
       </div>
          <ul class="list4">
      <li><a href="www.iyclt.com" target="_blank">十步打赢营销战争</a></li>
      <li><a href="www.iyclt.com" target="_blank">优秀营销员要个性</a></li>
      <li><a href="www.iyclt.com" target="_blank">你的营销多样化吗？</a></li>

      </ul>
     <div class="blank5"></div>
         <ul class="list12">
     <li> <a href="www.iyclt.com" target="_blank">[战略]</a> <a href="www.yaochenlietou.com" target="_blank">“杜甫很忙”病毒营销大解密</a>
          <a href="www.iyclt.com" target="_blank">向名将学习</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[案例]</a> <a href="www.yaochenlietou.com" target="_blank">加多宝去王老吉化疾行</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[品牌]</a> <a href="www.yaochenlietou.com" target="_blank">品牌定位创新的动因</a>
          <a href="www.yaochenlietou.com" target="_blank">百年品牌的伤痛</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[技巧]</a> <a href="www.yaochenlietou.com" target="_blank">营销是为了消灭销售？</a>
     </ul>
 
 </div>
   <!--医疗招聘-->
<div class="jobyl">
    <div class="job_titleyl">
     <h1>
      <span> <a href="http://www.yaochenlietou.com" target="_blank">医药猎头职位</a></span>
             <a href="http://www.yaochenlietou.com" target="_blank">北 京</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">上 海</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">广 州</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">江 苏</a> 
      </h1>
</div>
      <div class="joblistyl">
<dl>
<dt>
    <ul>
          <li class="regionnavyl">地    区</li>
          <li class="title1navyl">职    位</li>
          <li class="salarynavyl">年    薪</li>
          <li class="timenavyl">  截止日期</li>
</ul>

<dd>
 <ul>
  <li class="regionyl">上 海</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">销售总监</a></li>
  <li class="salaryyl">80万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="regionyl">南 京</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salaryyl">60万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="regionyl">天  津</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">地区经理</a></li>
  <li class="salaryyl">20万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="regionyl">上 海</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salaryyl">70万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="regionyl">海 南</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">省区经理</a></li>
  <li class="salaryyl">30万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="regionyl">北 京</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salaryyl">50-150万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="regionyl">广 州</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salaryyl">80万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="regionyl">香 港</li>
  <li class="title1yl"><a href="http://www.yaochenlietou.com" target="_parent">审计师 </a></li>
  <li class="salaryyl">40万</li>
  <li class="timeyl">2012.03.12</li>
  </ul>
  </dd>
  </dt>
  </dl>



       </div>

</div>
</div>



<!--右3-->
<div class="banner"><a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/ad1.jpg" ></a> </div>
<div class="columnrq">
    <div class="bannero">
     <a href="www.yaochenlietou.com" title="江苏招聘" target="_blank"><img src="${static_url}/images/iyclt.com/r3guanggao.png"></a></div>
     
 <div class="columnk">
   <div class="tit">
    <span><a href="www.yaochenlietou.com" target="_blank"> 评 论 </a>
    </span>
    </div>
    <div class="list6">
     <ul>
      <li>
       <a href="www.yaochenlietou.com" target="_blank"> 医务人员如何打通“任督二脉”？</a>
    
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> “医院赶客”是医疗痼疾典型症候</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 假装收红包是医德的升华</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 无法回避另一个舌尖上的中国</a>
       </li>
              <li>
       <a href="www.yaochenlietou.com" target="_blank"> “仁心仁术”须与信任尊重对接</a>
       </li>
       </ul>
       </div>
    </div>
    <div class="columnk">
   <div class="tit">
    <span><a href="www.yaochenlietou.com" target="_blank"> 评 论 </a>
    </span>
    </div>
    <div class="list6">
     <ul>
      <li>
       <a href="www.yaochenlietou.com" target="_blank"> 医务人员如何打通“任督二脉”？</a>
    
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> “医院赶客”是医疗痼疾典型症候</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 假装收红包是医德的升华</a>
       </li>
       <li>
       <a href="www.yaochenlietou.com" target="_blank"> 无法回避另一个舌尖上的中国</a>
       </li>
              <li>
       <a href="www.yaochenlietou.com" target="_blank"> “仁心仁术”须与信任尊重对接</a>
       </li>
       </ul>
       </div>
    </div>
<div class="banneru">
 <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/r4guanggao.png"></a></div>
    </div>
    
    
    <!--正文3屏-->
<div class="column">
 <div class="columnf">
  <div class="title2">
 <h2>
  <span><a href="www.iyclt.com" target="_blank">企业管理</a></span>
  <a href="www.iyclt.com" target="_blank">文化</a> | 
  <a href="www.iyclt.com" target="_blank">艺术</a> | 
  <a href="www.iyclt.com" target="_blank">团队</a>
 </h2>
 </div>
 
    <div class="tongyong">
   <h4>
    <a href="www.yaochenlietou.com" target="_blank">老板该懂和不该懂的管理</a>
    </h4>
    </div>
    <div class="fPic">
     <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/one1.png" alt="管理与合作" width="123" height="86"></a>
     <div class="textbj"></div>
     <div class="text">
       <a href="www.yaochenlietou.com" target="_blank">管理与合作</a>
       </div>
       </div>
          <ul class="list4">
      <li><a href="www.iyclt.com" target="_blank">好领导有好品格</a></li>
      <li><a href="www.iyclt.com" target="_blank">领导者如何管控任务</a></li>
      <li><a href="www.iyclt.com" target="_blank">老板的另一种期权</a></li>

      </ul>
     <div class="blank5"></div>
         <ul class="list12">
     <li> <a href="www.iyclt.com" target="_blank">[战略]</a> <a href="www.yaochenlietou.com" target="_blank">企业发展战略本质</a>
          <a href="www.iyclt.com" target="_blank">尴尬的规模游戏</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[组织]</a> <a href="www.yaochenlietou.com" target="_blank">组织内部改革应注意的问题</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[寓言]</a> <a href="www.yaochenlietou.com" target="_blank">小故事大道理：思维的误区</a>
          <a href="www.yaochenlietou.com" target="_blank">管理哲学</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[公关]</a> <a href="www.yaochenlietou.com" target="_blank">危机公关就是“拼人品”</a>
     </ul>
 
 </div>
 
 <!--南区人才-->
   <div class="job">
    <div class="job_title">
     <h1>
      <span> <a href="http://www.yaochenlietou.com" target="_blank">南区人才</a></span>
             <a href="http://www.yaochenlietou.com" target="_blank">上 海</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">广 州</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">香 港</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">江 苏</a> 
      </h1>
</div>
      <div class="joblist">
<dl>
<dt>
    <ul>
          <li class="regionnav">行    业</li>
          <li class="title1nav">职    位</li>
          <li class="salarynav">年    薪</li>
          <li class="timenav">  截止日期</li>
</ul>

<dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">销售总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">60万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">地区经理</a></li>
  <li class="salary">20万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">70万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">省区经理</a></li>
  <li class="salary">30万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">审计师 </a></li>
  <li class="salary">40万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  </dt>
  </dl>



       </div>

</div>


<div class="blank10"></div>

 <div class="columnf">
  <div class="title2">
 <h2>
  <span><a href="www.iyclt.com" target="_blank">企业培训</a></span>
  <a href="www.iyclt.com" target="_blank">医药</a> | 
  <a href="www.iyclt.com" target="_blank">内训</a> | 
  <a href="www.iyclt.com" target="_blank">技巧</a>
 </h2>
 </div>
 
    <div class="tongyong">
   <h4>
    <a href="www.yaochenlietou.com" target="_blank">培训有效 需引发学员的学习渴望</a>
    </h4>
    </div>
    <div class="fPic">
     <a href="www.yaochenlietou.com" target="_blank"><img src="${static_url}/images/iyclt.com/one2.png" alt="面授培训 一如既往地重要" width="123" height="86"></a>
     <div class="textbj"></div>
     <div class="text">
       <a href="www.yaochenlietou.com" target="_blank">面授培训 一如既往地重要</a>
       </div>
       </div>
          <ul class="list4">
      <li><a href="www.iyclt.com" target="_blank">最需要学习培训的是老板</a></li>
      <li><a href="www.iyclt.com" target="_blank">如何做好企业内训</a></li>
      <li><a href="www.iyclt.com" target="_blank">培训师的“5尽”标准</a></li>

      </ul>
     <div class="blank5"></div>
         <ul class="list12">
     <li> <a href="www.iyclt.com" target="_blank">[销售]</a> <a href="www.yaochenlietou.com" target="_blank">非正式学习的规划与实施</a>
          <a href="www.iyclt.com" target="_blank">如何才能出效果</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[管理]</a> <a href="www.yaochenlietou.com" target="_blank">知识管理和课程开发的基石</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[营销]</a> <a href="www.yaochenlietou.com" target="_blank">角色定位</a>
          <a href="www.yaochenlietou.com" target="_blank">如何让你的课程有生命</a>
     </li>
     <li> <a href="www.iyclt.com" target="_blank">[开发]</a> <a href="www.yaochenlietou.com" target="_blank">通用管理类课程培训的常见误区？</a>
     </ul>
 
 </div>
 <!--北区人才-->
   <div class="job">
    <div class="job_title">
     <h1>
      <span> <a href="http://www.yaochenlietou.com" target="_blank">北区人才</a></span>
             <a href="http://www.yaochenlietou.com" target="_blank">北 京</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">辽 宁</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">郑 州</a> | 
             <a href="http://www.yaochenlietou.com" target="_blank">天 津</a> 
      </h1>
</div>
      <div class="joblist">
<dl>
<dt>
    <ul>
          <li class="regionnav">行    业</li>
          <li class="title1nav">职    位</li>
          <li class="salarynav">年    薪</li>
          <li class="timenav">  截止日期</li>
</ul>

<dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">销售总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">60万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">地区经理</a></li>
  <li class="salary">20万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">70万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">省区经理</a></li>
  <li class="salary">30万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
  <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">市场总监</a></li>
  <li class="salary">50-150万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">医 药</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">投资总监</a></li>
  <li class="salary">80万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  
    <dd>
 <ul>
  <li class="region">医 疗</li>
  <li class="title1"><a href="http://www.yaochenlietou.com" target="_parent">审计师 </a></li>
  <li class="salary">40万</li>
  <li class="time">2012.03.12</li>
  </ul>
  </dd>
  </dt>
  </dl>



       </div>

</div>

  </div>
  
<div class="blank20"></div>
   
<div id="footer" class="main">
 <ul>
  <li><a href="http://www.yaochenlietou.com" target="_blank">瑶臣猎头简介</a> &nbsp; |   &nbsp;
 <a href="http://www.yaochenlietou.com" target="_blank">合作客户</a> &nbsp;  |   &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">加入瑶臣</a> &nbsp;  |   &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">联系方式</a>&nbsp;   |   &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">候选人平台</a>&nbsp;   |    &nbsp;
<a href="http://www.yaochenlietou.com" target="_blank">意见反馈</a></li>  
<p class="end">Copyright &copy; 1998 - 2012 YaoChen. All Rights Reserved</p>
 </ul>

 </div>



</div>
</body>
</html>
